{% liquid
  assign image_width = '750, 950, 1024'
  assign sizes = "(min-width: 361px) calc(100vw/2), calc(100vw/3)"
  assign article_placeholder = 'image' | placeholder_svg_tag: 'placeholder media of-cover'
  assign article_image = article_placeholder
  assign article_image = article.image.src | image_url: width: article.image.width | image_tag: widths: image_width, sizes: sizes, alt: article.title, class: 'media of-cover w-100'
  assign show_blog_tag = show_blog_tag | default: false

%}
<div class="card w-100 card--content-outer">
  <div class="card__media p-relative d-none {{ show_image | replace: true, 'd-block' }}">
    <a href="{{ article.url }}" aria-label="{{ article.title | escape }}" class="p-absolute w-100 h-100 zi-1"></a>
    {% render 'image', ratio: image_ratio, image_item: article_image %}
  </div>
  <div class="card__content card__content--outer">
    <ul class="ls-none mb-16 r-gap-16 c-gap-8 fw-wrap d-none {{ show_blog_tag | default: '' | replace: 'true', 'd-flex' }}">
      {% for tag in article.tags %}
        <li>
          {{ tag | link_to_tag: tag | replace: '<a', '<a class="tag"' }}
        </li>
      {% endfor %}
    </ul>
    <h3 class="mb-12 h5">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
    {% if show_excerpt %}
      {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
        <p class="card__excerpt o-hidden mb-16">
          {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      {%- endif -%}
    {%- endif -%}
    <div class="hide-empty mb-16 subtext color-light">
      <span class="d-none {{ show_published_date | replace: true, 'd-inline-block' }}">{{ article.published_at | date: format: 'abbreviated_date' }}</span>
      {% if show_author and show_published_date %} • {% endif %}
      <span class="d-none {{ show_author | replace: true, 'd-inline-block' }}">{{ 'sections.featured_blog.article.by_author' | t: author: article.author }}</span>
    </div>
    <a href="{{ article.url }}" class="btn btn-small btn-link {{ show_read_more | default: 'd-none-important' | replace: 'true', '' }}">{{ 'blogs.article.read_more' | t }}</a>
  </div>
</div>
