{%- comment -%}
{% render 'card-product',
  product: block.settings.product,
  show_rating: true,
  show_vendor: true,
  show_color_swatch: true,
  show_sale_badge: true,
  enable_quick_buy: true,
  item_per_row: 1,
  ratio: '100',
  card_content_inner: boolean
%}
{%- endcomment -%}

{%- liquid
  assign section_id = section.id | md5 | truncate: 12, ""
  assign random_number =  "now" | date: "%N" | append: section_id | append: product.id

  assign product_image_id =  random_number | prepend: 'cardProductImage-'
  assign product_link_class =  random_number | prepend: 'js-card-product-link-'
  assign image_width = image_width | default: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000'

  assign sizes = "(min-width: 361px) calc(100vw/2), calc(100vw/3)"
  assign product_placeholder = 'product-1' | placeholder_svg_tag: 'media placeholder w-100 h-100'
  assign product_image = product_placeholder

  assign product_img_first_classes = 'media img-first w-100 h-100 ' | append: settings.image_fit_type
  assign product_img_second_classes = 'media img-second w-100 h-100 opacity-0 ' | append: settings.image_fit_type

  assign product_image = product.featured_media | image_url: width: product.featured_media.width | image_tag: widths: image_width, sizes: sizes, alt: product.title, class: product_img_first_classes, id: product_image_id
  assign secondary_image_class = ' card'
  if product.media[1] != nil and show_second_image
    assign product_image_second = product.media[1] | image_url: width: product.featured_image.width | image_tag: widths: image_width, sizes: sizes, alt: product.title, class: product_img_second_classes
    assign secondary_image_class = ' card--2-images'
     capture secondary_image
      render 'image', image_item: product_image_second, image_classes: ' w-100 h-100', image_wrap_classes: 'product__image-second p-absolute top-0 left-0 w-100 h-100', ratio: ratio
     endcapture
  endif

  assign card_content_classes = ' pt-16 pt-md-24'
  assign card_classes = 'card--content-outer'

%}
<div class="product product-card {{ card_classes }}{{ secondary_image_class }} {{ secondary_card_classes }} w-100 p-relative" style="{{ card_style }}">
  {% if show_sale_badge %}
    <div class="card__badge prominent-badge product__badge p-absolute d-flex bottom-xs fd-column zi-1 tt-up hide-empty">
        {%- if product.compare_at_price != null and product.compare_at_price > product.price -%}
          <span class="badge badge--sale d-inline-block fw-700">
            <span class="d-inline-block">
              {%- liquid
                assign save_amount =  product.compare_at_price | minus: product.price | times: 1.0 | divided_by: product.compare_at_price | times: 100 | round
                if product.has_only_default_variant
                  echo 'products.product.card.save_percent' | t: save_amount: save_amount
                else
                  assign save_amount = 0
                  for variant in product.variants
                    assign saving = variant.compare_at_price | minus: variant.price | times: 1.0 | divided_by: variant.compare_at_price | times: 100 | round
                    assign save_amount = saving | at_least: save_amount
                  endfor
                  echo 'products.product.card.save_percent_up_to' | t: save_amount: save_amount
                endif
              -%}
            </span>
          </span>
        {%- endif -%}
      {%- if product.available == false -%}
        <span class="badge badge--oos d-inline-block fw-700">
          <span class="d-inline-block">
            {{ 'products.product.sold_out' | t }}
          </span>
        </span>
      {%- endif -%}
    </div>
  {% endif %}
  {{ show_current_product_badge }}
  <div class="card__media p-relative o-hidden">
    <a href="{{- product.url | within: collection | default: '#' -}}" class="d-block w-100 h-100 pe-no-link zi-1 p-absolute {{ product_link_class }}" aria-label="{{ product.title | escape }}" tabindex="-1"></a>
    {% render 'image', image_item: product_image, image_wrap_classes: 'product__image-first', ratio: ratio %}
    {{ secondary_image }}
  </div>
  <div class="card__content{{ card_content_classes }} w-100 wb-break-word">
    <div class="card__info">
      <div class="color-light subtext mb-4 {{ show_vendor | default: 'd-none' | replace: 'true', '' }}">
        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
        <span>{{ product.vendor }}</span>
      </div>
      <h3 class="card__heading h5 m-zero mb-4">
        <a href="{{- product.url | within: collection -}}" class="{{ product_link_class }}">{{- product.title -}}</a>
      </h3>
      {%- liquid
        render 'product-price' product: product, target: product, price_class: 'd-block mb-12', card_product_price: true, content_align: content_align, unit_price: unit_price
        if settings.enable_variant_swatches and show_color_swatch == true
          render 'card-product-color-swatch', product: product, product_image_id: product_image_id, product_link_class: product_link_class, vs_class: vs_class
        endif
      -%}
      {%- if show_rating and product.metafields.reviews.rating.value != blank -%}
        <div class="product__rating mb-8">
          {% render 'product-rating', product: product, rating_votes: false %}
        </div>
      {%- endif -%}
      <div class="buttons-group d-inline-flex gap-12 fw-wrap hide-empty">
        {{ view_details }}
        <div class="product__quickbuy zi-1 {{ enable_quick_buy | default: ' d-none' | replace: 'true', '' }}">
          <button class="btn btn-link btn-small no-js-hidden" aria-label="{{ "products.product.card.quick_shop" | t }}" aria-haspopup="true" type="button" data-product-url="{{ product.url | split: "?" | first }}?view=quick-view" onclick="window.dialogQuickShop.showModal(this);">
            {{ 'products.product.card.quick_shop' | t }}
          </button>
        </div>
      </div>
      {{ product_specifications }}
    </div>
  </div>
</div>