{%- liquid
  assign collection_placeholder = 'collection-1' | placeholder_svg_tag: 'placeholder media of-cover'
  assign collection_title      = 'sections.collection_list.collection.title' | t
  assign media_ratio           = settings.collection_image_ratio
  assign show_product_count = settings.show_product_count
-%}
<div class="card w-100 p-relative sht-mask sht-mask--bottom card--content-inner {{ settings.collection_card_color_scheme }}" style="--overlay: {{ settings.card_collection_overlay }}">
  <div class="card__media p-relative">
    <a href="#" aria-label="{{ collection_title }}" aria-disabled="true" class="d-block pe-no-link p-absolute w-100 h-100 zi-1"></a>
    {% render 'image', image_item: collection_placeholder, ratio: media_ratio %}
  </div>
  <div class="card__content card__content--inner p-absolute bottom-0 w-100 zi-1 pe-none wb-break-word">
    <h3 class="h5 m-zero card__heading">{{ collection_title }}</h3>
    <span class="td-underline btn btn-link btn-small tt-up{{ show_product_count | default: ' d-none-important' | replace: 'true', '' }}">{{ 'general.collection.view_collection' | t: count: '68' }}</span>
  </div>
</div>