{%- liquid
  assign media = 'image' | placeholder_svg_tag: 'placeholder w-100 h-100 of-cover js-image-lazy'
-%}
<sht-cart-drwr id="shtCartDrawer" class="sht-drawer js-cart-drawer no-focus-visible" aria-hidden="true" hidden tabindex="-1">
  <div id="cartDrawer" class="h-100 w-100 d-flex end-xs">
    <div class="drawer__overlay js-cart-drawer-overlay js-drawer-overlay p-fixed top-0 left-0 right-0 bottom-0 w-100 h-100v"></div>
    <div class="drawer__wrapper js-cart-drawer-wrapper js-drawer-wrapper {{ settings.popup_color_scheme }} corner-radius-lg" role="dialog" aria-label="{{ 'sections.cart.title' | t }}" aria-modal="true">
      {%- if cart == empty -%}
        <div class="drawer__header d-flex middle-xs between-xs">
          <h2 class="drawer__heading h4 m-zero">{{ 'general.cart.cart_draw_title' | t: item_count: cart.item_count }}</h2>
          <button class="drawer__btn-close js-cart-drawer-btn-close js-drawer-btn-close btn btn-large btn-plain btn-icon" onclick="window.shtCartDrawer.closeDrawer();" type="button" aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon-close' %}
          </button>
        </div>
        <div class="drawer__body oy-scroll disable-scrollbars d-flex fd-column center-xs middle-xs flex-1">
          <sht-cart-drwr-frm class="d-flex fd-column center-xs middle-xs flex-1">
            <p class="mb-32">{{ 'general.cart.cart_empty' | t }}</p>
            <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary btn-large">
              {{ 'general.cart.continue_shopping' | t }}
            </a>
          </sht-cart-drwr-frm>
        </div>
      {%- else -%}
        <div class="drawer__header d-flex middle-xs between-xs">
          <h2 class="drawer__heading h4 m-zero">{{ 'general.cart.cart_draw_title' | t: item_count: cart.item_count }}</h2>
          <button class="drawer__btn-close js-cart-drawer-btn-close js-drawer-btn-close btn btn-large btn-icon btn-plain" onclick="window.shtCartDrawer.closeDrawer();" type="button" aria-label="{{ 'accessibility.close' | t }}">
            {% render 'icon-close' %}
          </button>
        </div>
        <div class="drawer__body oy-scroll disable-scrollbars flex-1">
          {% comment %}
          {% if settings.cart_show_free_shipping_notification and settings.cart_minimum_order_price_for_free_shipping != blank %}
            <div class="free-shipping-notification cart-drawer-shipping pt-8 pb-32">
              {% render 'free-shipping-amount', cart: cart, section: section %}
            </div>
          {% endif %}
        {% endcomment %}
          <sht-cart-drwr-frm>
            <form action="{{ routes.cart_url }}" id="cart-drawer-form" class="cart-drawer__form" method="post">
              <ul class="ls-none">
                {%- for item in cart.items -%}
                  <li id="cartDrawerItem-{{ item.index | plus: 1 }}" class="cart-drawer__product gap-16 d-grid mb-32 ">
                    {%- liquid
                      assign media = 'image' | placeholder_svg_tag: 'placeholder js-image-lazy'
                      assign media = item.image | image_url: width: 300 | image_tag: widths: '300', sizes: '100vw', alt: item.product.title, class: 'js-image-lazy media of-cover'
                    %}
                    <div class="cart-drawer__product__media p-relative">
                      {% render 'image', image_item: media, src: block.settings.image.src, image_classes: 'corner-radius-sm' %}
                    </div>
                    <div class="cart-drawer__product-info">
                      <div class="cart-drawer__product-info--top d-grid gap-12">
                        <div class="cart-drawer__product-info--title">
                          {% if settings.enable_cart_product_vendor %}
                            <p class="subtext color-light mb-8 hide-empty">
                              {{ item.product.vendor }}
                            </p>
                          {% endif %}
                          <a href="{{ item.url }}" class="wb-break-word h6 d-block mb-8">{{ item.product.title | escape }}</a>
                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="cart-drawer__item__unit-price subtext color-light mt-8">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.variant.unit_price | money_with_currency }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden">&nbsp;per&nbsp;</span>
                              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                {{- item.variant.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.variant.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                        <div class="cart-drawer__product-price">
                          <div class="ta-right">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices wb-break-word">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="d-block mb-4 fw-700">
                                  {{ item.final_line_price | money_with_currency }}
                                </span>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="color-light subtext">
                                  {{ item.original_line_price | money_with_currency }}
                                </s>
                              </div>
                            {%- else -%}
                              <span class="d-block mb-4 fw-700">
                                {{ item.original_line_price | money_with_currency }}
                              </span>
                              {% if item.variant.compare_at_price > item.variant.price %}
                                <s class="color-light subtext d-block"> {{ item.variant.compare_at_price | times: item.quantity | money_with_currency }} </s>
                              {% endif %}
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != null -%}
                        <div class="cart-drawer__item__options pb-16">
                          <dl class="subtext color-light m-zero">
                            {%- if item.product.has_only_default_variant == false -%}
                              <div class="cart-drawer__item__option">
                                <span>
                                  {%- liquid
                                    assign options_names = ''
                                    for option in item.options_with_values
                                      assign options_names = options_names | append: ', ' | append: option.value
                                    endfor
                                    echo  options_names | replace_first: ', ', ''
                                  -%}
                                  </span>
                              </div>
                            {%- endif -%}
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <div class="cart-drawer__item__option">
                                  <p class="d-block mt-8">
                                    {{ property.first }}:
                                    {% if property.last contains '/uploads/' %}
                                      <a href="{{ property.last }}" class="link" target="_blank" aria-describedby="a11y-new-window-message">
                                        {{ property.last | split: '/' | last }}
                                      </a>
                                    {% else %}
                                      {{ property.last }}
                                    {% endif %}
                                  </p>
                                </div>
                              {%- endif -%}
                            {%- endfor -%}
                          </dl>
                        </div>
                      {%- endif -%}
                      <div class="cart-drawer__product-price d-none" hidden>
                        {%- if item.original_price != item.final_price -%}
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s>{{- item.original_price | money_with_currency -}}</s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong>{{ item.final_price | money_with_currency }}</strong>
                        {%- else -%}
                          {{ item.original_price | money_with_currency }}
                        {%- endif -%}
                      </div>
                      {% if item.selling_plan_allocation != nil %}
                        <div class="cart-drawer__item__option hide-empty d-flex middle-xs pb-8">
                          <span class="discounted-icon icon icon--small mr-8 fs-0">
                            {% render 'icon-subscription', size: 16 %}
                          </span>
                          <span>
                            {{ item.selling_plan_allocation.selling_plan.name }}
                          </span>
                        </div>
                      {% endif %}
                      <!-- Variants and Selling Plan -->
                      <!-- Discounts -->
                      <ul class="ls-none hide-empty p-zero">
                        {%- for discount in item.discounts -%}
                          <li class="cart-item__discounted d-grid middle-xs pb-16">
                            <span class="discounted-icon icon icon--small mr-8 fs-0">
                              {% render 'icon-voucher', size: 16 %}
                            </span>
                            <span>
                              {{ discount.title }}
                              (
                              {{- discount.savings | money_with_currency -}}
                              )
                            </span>
                          </li>
                        {%- endfor -%}
                      </ul>
                      <div class="d-flex middle-xs">
                        <label class="visually-hidden" for="cartDrawerQuantityField-{{ item.index | plus: 1 }}">{{ 'products.product.quantity.label' | t }}</label>
                        <sht-cart-drwr-qty-inp class="field_quantity d-inline-flex middle-xs center-xs btn-small mr-12">
                          <button class="js-cart-drawer-quantity-btn js-cart-drawer-quantity-btn-minus js-cart-drawer-btn btn btn-plain btn-small btn-icon" name="minus" data-name="minus" type="button">
                            <span class="visually-hidden">{{ 'general.cart.decrease' | t }}</span>
                            {% render 'icon-minus', size: 20 %}
                          </button>
                          <input class="js-cart-drawer-quantity-input input-number qty-element--sm btn-plain b-zero ta-center" type="number" name="updates[]" data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}" id="cartDrawerQuantityField-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                          <button class="js-cart-drawer-quantity-btn js-cart-drawer-quantity-btn-plus js-cart-drawer-btn btn btn-plain btn-small btn-icon" name="plus" data-name="plus" type="button">
                            <span class="visually-hidden">{{ 'general.cart.increase' | t }}</span>
                            {% render 'icon-plus', size: 20 %}
                          </button>
                        </sht-cart-drwr-qty-inp>
                        <sht-cart-drwr-rmv-btn id="cartDrawerRemove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                          <button class="js-cart-drawer-delete-btn js-cart-drawer-btn btn btn-plain btn-icon btn-small" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}" type="button">
                            {% render 'icon-remove' %}
                          </button>
                        </sht-cart-drwr-rmv-btn>
                      </div>
                      <div class="d-none-important mt-16 product-form-message middle-xs color-error" id="cart-drawer-line-item-error-{{ item.index | plus: 1 }}" role="alert">
                      <div class="icon icon--small icon--error fs-0 mr-8">
                        {% render 'icon-error', size: 16 %}
                      </div>
                        <small class="js-cart-drawer-form-item-error-message"></small>
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
              <div id="cart-drawer__errors" class="js-cart-drawer-errors" role="alert"></div>
            </form>
          </sht-cart-drwr-frm>
          {% if settings.enable_cart_order_notes %}
            <details class="mt-24">
              <summary class="cart-order-notes ls-none">
                <span class="btn btn-link">
                  {{ 'general.cart.cart_note_title' | t }}
                </span>
              </summary>
              <sht-cart-drwr-note class="field mt-8 d-block">
                <label class="visually-hidden" for="cartDrawerNoteInput">{{ 'general.cart.cart_note_title' | t }}</label>
                <textarea id="cartDrawerNoteInput" class="field__text field--focus field--hover w-100 textarea" name="note" placeholder="{{ 'general.cart.cart_note_placeholder' | t }}" rows="5">{{ cart.note }}</textarea>
              </sht-cart-drwr-note>
            </details>
          {% endif %}
        </div>
        <div class="drawer__footer p-sticky bottom-0 cart-drawer__footer">
          <div class="hide-empty mb-24">
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="ls-none" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="cart-item__discounted d-flex middle-xs between-xs">
                    <div class="d-flex middle-xs">
                      <span class="discounted-icon icon icon--small mr-8 fs-0">
                        {% render 'icon-voucher', size: 16 %}
                      </span>
                      <span>{{ discount.title }}</span>
                    </div>
                    <span class="flex-1 ta-right">-{{ discount.total_allocated_amount | money_with_currency }}</span>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
          <div class="d-flex middle-xs between-xs mb-16">
            <h2 class="h5 m-zero">{{ 'general.cart.total' | t }}</h2>
            <p class="m-zero h5">{{ cart.total_price | money_with_currency }}</p>
          </div>
          <div class="mb-8 mb-sm-12 d-flex gap-12">
            <noscript>
              <button type="submit" class="btn btn-large btn-primary w-100 h6" form="cart-drawer-form">
                {{ 'sections.cart.update' | t }}
              </button>
            </noscript>
            <a href="{{- routes.cart_url -}}" class="btn btn-large btn-secondary w-100 ta-center">{{ 'sections.cart.view_cart' | t }}</a>
            <button type="submit" class="js-cart-drawer-submit-btn btn btn-large btn-primary w-100" name="checkout" form="cart-drawer-form" {% if cart == empty %} disabled{% endif %}>
              {{ 'sections.cart.checkout' | t }}
            </button>
          </div>
          {% if settings.show_cart_tax_info %}
            <small class="tax-note subtext d-block ta-center color-light text-block">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>
          {% endif %}
        </div>
      {%- endif -%}
    </div>
  </div>
</sht-cart-drwr>
