<sht-cart-noti id="cartNotificationPanel" class="cart-notification {{ settings.popup_color_scheme }} background w-100 zi-10 no-focus-visible d-block p-absolute maw-100" tabindex="-1" hidden="true">
    <div data-type="cart-notification-panel-wrapper" class="cart-notification-panel-wrapper js-cart-notification-panel-wrapper p-relative" >
      <div class="focus-inset js-cart-notification-panel-container" aria-modal="true" aria-label="{{ 'general.cart.item_added' | t }}" role="dialog" tabindex="-1">
        <div class="d-flex middle-xs between-xs mb-24">
          <p class="m-zero d-flex middle-xs fw-b color-success">
            <span class="icon icon--small btn-icon bs-none fs-0 mr-8">
              {%- render 'icon-check-mark', size: 16 -%}
            </span>
            {{ "general.cart.success_message" | t }}
          </p>
          <button type="button" class="cart-notification-btn btn btn-icon btn-small btn-plain js-cart-notification-panel-close-btn" aria-label="{{ 'accessibility.close' | t }}" >
            {% render 'icon-close' %}
          </button>
        </div>
        {% comment %}
          {% if settings.cart_show_free_shipping_notification and settings.cart_minimum_order_price_for_free_shipping != blank %}
            <div class="cart-notification-free-shipping js-cart-notification-free-shipping top-xs pb-8 pt-8"></div>
          {% endif %}
        {% endcomment %}
        <div class="js-cart-notification-panel-content cart-notification-panel-content d-grid top-xs mt-16 mb-20 gap-12"></div>
        <div class="cart-notification__links">
          <a href="{{ routes.cart_url }}" {% if settings.cart_type == 'drawer' %} role="button" onclick="event.preventDefault();try { window.cartNotificationPanel.close(); window.shtCartDrawer.openDrawer(SHTHelper.qs('.js-header-cart-status-btn')); } catch(err) { window.location.assign('{{ routes.cart_url }}');}" {% endif %} aria-haspopup="true" aria-expanded="false" aria-controls="shtCartDrawer" class="btn btn-large btn-secondary w-100 mb-8">
            {{ "general.cart.view" | t }} (<span class="js-cart-notification-panel-item-count-content"></span>)
          </a>
          <form action="{{ routes.cart_url }}" method="post" id="cart-notification-form">
            <button class="btn btn-large btn-primary w-100 js-cart-notification-panel-btn" name="checkout">
              {{ "sections.cart.checkout" | t }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </sht-cart-noti>