{%- if settings.phone_number != blank or settings.email_address != blank -%}
  <div class="contact__wrapper {{ classes }}">
    <span class="d-block h5 m-zero {{ header_style }}">{{ 'general.contact.contact_us' | t }}</span>
    <div class="contact__list {{ contact_class }}">
      {%- if settings.phone_number != blank -%}
        <a href="tel:+{{- settings.phone_number -}}" class="contact__item d-flex middle-xs {{ contact_style }}">
          <span class="icon mr-8 fs-0 bs-none">
            {%- render 'icon-phone', size: 24 -%}
          </span>
          +
          {{- settings.phone_number -}}
        </a>
      {%- endif -%}

      {%- if settings.email_address != blank -%}
        <a href="mailto: {{- settings.email_address -}}" class="contact__item d-flex middle-xs {{ contact_style }}">
          <span class="icon mr-8 fs-0 bs-none">
            {%- render 'icon-mail', size: 24 -%}
          </span>
          {{- settings.email_address -}}
        </a>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}