{%- liquid
	assign share_url = shop.url | append: product.url
	assign share_description = product.description | strip_html | truncatewords: 15 | url_param_escape
  assign share_image = product.featured_image | image_url: width: 750 | prepend: 'https:'
  assign action = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
-%}

<ul class="social-share field__dropdown ls-none">
  <li class="d-block field__dropdown__item">
    <a aria-label="Facebook" class="social-share-link field__dropdown__link d-flex middle-xs pt-12 pr-24 pb-12 pl-24" href="https://www.facebook.com/sharer.php?u={{ share_url }}" onclick="{{ action }}">
      {%- render 'icon-facebook', class: 'mr-8' -%}
      Facebook
    </a>
  </li>
  <li class="d-block field__dropdown__item">
    <a aria-label="Twitter" class="social-share-link field__dropdown__link d-flex middle-xs pt-12 pr-24 pb-12 pl-24" href="https://twitter.com/share?text={{ product.title }}&url={{ share_url }}" onclick="{{ action }}">
      {%- render 'icon-twitter', class: 'mr-8' -%}
      Twitter
    </a>
  </li>
  <li class="d-block field__dropdown__item">
    <a aria-label="Pinterest" class="social-share-link field__dropdown__link d-flex middle-xs pt-12 pr-24 pb-12 pl-24" href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ share_description }}" onclick="{{ action }}">
      {%- render 'icon-pinterest', class: 'mr-8' -%}
      Pinterest
    </a>
  </li>
  <hr role="listitem ">
  <li class="d-block field__dropdown__item">
    <a aria-label="Email" class="social-share-link field__dropdown__link d-flex middle-xs pt-12 pr-24 pb-12 pl-24" href="mailto:?subject={{ product.title }}&body={{ product.title }}%0D%0A{{ share_url }}"  onclick="{{ action }}">
      {%- render 'icon-mail', class: 'mr-8' -%}
      Email
    </a>
  </li>
  <li class="d-block field__dropdown__item">
    <button data-link-copied-to-clipboard="{{ 'general.share.link_copied_to_clipboard' | t }}" class="social-share-link field__dropdown__link btn-plain d-flex middle-xs w-100 js-social-share-copy-link pt-12 pr-24 pb-12 pl-24 c-pointer">
      {%- render 'icon-link', class: 'mr-8' -%}
      <span class="js-social-share-copy-link-label">
        {{ 'general.share.copy_link' | t }}
      </span>
    </button>
  </li>
</ul>


