{%- if settings.product_specification_metafield_namespace != blank and product.metafields[settings.product_specification_metafield_namespace].size > 0 -%}
  {%- liquid
    assign show_full_specifications = show_full_specifications | default: false
    assign index = 0
    assign html = ''
    assign key_array = metafield_keys | remove: " " | downcase | split: ","
    comment
    if metafield_keys.size > 0
      assign key_array = metafield_keys
    else
      assign json_metafields =  product.metafields[settings.product_specification_metafield_namespace] | json
      assign keys = ''
      assign metafields = json_metafields | split: ','
      for metafield in metafields
        assign res = metafield | split: ':'
        assign res =  res.first | replace: '{"', '' | replace: '"',''
        assign keys = keys | append: res | append: ','
      endfor
      assign keys = keys | append: "#END"
      assign keys = keys | remove: ",#END"
      assign key_array = keys | split: ","
    endif
    endcomment

    comment
    assign json_metafields =  product.metafields[settings.product_specification_metafield_namespace] | json
    assign keys = ''
    assign metafields = json_metafields | split: ','
    for metafield in metafields
      assign res = metafield | split: ':'
      assign res =  res.first | replace: '{"', '' | replace: '"', ''
      assign keys = keys | append: res | append: ','
    endfor
    assign keys = keys | append: "#END"
    assign keys = keys | remove: ",#END"
    assign key_array = keys | split: ","
    endcomment
  -%}
  {%- if metafield_keys.size > 0 -%}
    {%- for k in key_array -%}
      {%- liquid
          assign specification_value = ''
          assign specification_name = k | upcase | replace: '_', ' '
          capture icon_check
            render 'icon-check', size: 24, class: 'color-success'
          endcapture

          capture icon_close
            render 'icon-close', size: 24, class: 'color-error'
          endcapture

          case product.metafields[settings.product_specification_metafield_namespace][k].type
            when 'file_reference'
                assign file_value = product.metafields[settings.product_specification_metafield_namespace][k].value | downcase
                if file_value != 'videodrop' and file_value contains 'files/'
                  assign get_file = product.metafields[settings.product_specification_metafield_namespace][k].value
                  assign file_url = get_file | image_url: width: get_file.width | image_tag: widths: '128', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", loading: 'lazy', decoding: 'async', class: 'h-100 w-100 of-cover'
                  assign specification_value = '<span class="product-spec--image d-block">SHT_PRODUCT_IMG_SPEC</span>' | replace: 'SHT_PRODUCT_IMG_SPEC', file_url
                endif
            when 'boolean'
              if product.metafields[settings.product_specification_metafield_namespace][k].value
                assign specification_value = icon_check
              else
                assign specification_value = icon_close
              endif
            when 'rich_text_field'
              assign specification_value = product.metafields[settings.product_specification_metafield_namespace][k] | metafield_tag
            when 'color'
              assign specification_value = '<span class="product-spec--color d-block" style="background-color: SHT_PRODUCT_COLOR_SPEC;"></span>' | replace: 'SHT_PRODUCT_COLOR_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'date'
              assign specification_value = '<span class="product-spec--date">SHT_PRODUCT_DATE_SPEC</span>' | replace: 'SHT_PRODUCT_DATE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'date_time'
              assign specification_value = '<span class="product-spec--date-time">SHT_PRODUCT_DATE_TIME_SPEC</span>' | replace: 'SHT_PRODUCT_DATE_TIME_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'dimension'
              assign specification_value = '<span class="product-spec--dimension">SHT_PRODUCT_DIMENSION_VALUE_SPEC<span class="color-light">SHT_PRODUCT_DIMENSION_UNIT_SPEC</span></span>' | replace: 'SHT_PRODUCT_DIMENSION_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['value'] | replace: 'SHT_PRODUCT_DIMENSION_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['unit']
            when 'multi_line_text_field'
              assign specification_value = '<span class="product-spec--multi-line-text">SHT_PRODUCT_MULTI_LINE_TEXT_SPEC</span>' | replace: 'SHT_PRODUCT_MULTI_LINE_TEXT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'single_line_text_field'
              assign specification_value = '<span class="product-spec--signle-line-text">SHT_PRODUCT_SINGLE_LINE_TEXT_SPEC</span>' | replace: 'SHT_PRODUCT_SINGLE_LINE_TEXT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'url'
              assign specification_value = '<span class="product-spec--url td-underline"><a href="SHT_PRODUCT_URL_SPEC" rel="noopener noreferrer nofollow" target="_blank">SHT_PRODUCT_URL_SPEC</a></span>' | replace: 'SHT_PRODUCT_URL_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value
            when 'volume'
              assign specification_value = '<span class="product-spec--volumn">SHT_PRODUCT_VOLUMN_VALUE_SPEC<span class="color-light">SHT_PRODUCT_VOLUMN_UNIT_SPEC</span></span>' | replace: 'SHT_PRODUCT_VOLUMN_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['value'] | replace: 'SHT_PRODUCT_VOLUMN_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['unit']
            when 'weight'
              assign specification_value = '<span class="product-spec--weight">SHT_PRODUCT_WEIGHT_VALUE_SPEC<span class="color-light">SHT_PRODUCT_WEIGHT_UNIT_SPEC</span></span>' | replace: 'SHT_PRODUCT_WEIGHT_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['value'] | replace: 'SHT_PRODUCT_WEIGHT_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value['unit']
            when 'rating'
              assign rating_arial_label = 'accessibility.star_reviews_info' | t: rating_value: product.metafields[settings.product_specification_metafield_namespace][k].value, rating_max: product.metafields[settings.product_specification_metafield_namespace][k].value['scale_max']
              assign specification_value = '<span role="img" aria-label="SHT_PRODUCT_RATING_ARIAL_LABEL" class="product-spec--rating stars" style="--rating: SHT_PRODUCT_RATING_VALUE;--rating-max: SHT_PRODUCT_RATING_MAX_VALUE;--rating-decimal: 0;"><span class="product-spec--rating-value">SHT_PRODUCT_RATING_SPEC</span></span>' | replace: 'SHT_PRODUCT_RATING_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value | replace: 'SHT_PRODUCT_RATING_MAX_VALUE', product.metafields[settings.product_specification_metafield_namespace][k].value['scale_max'] | replace: 'SHT_PRODUCT_RATING_VALUE', product.metafields[settings.product_specification_metafield_namespace][k].value | replace: 'SHT_PRODUCT_RATING_ARIAL_LABEL', rating_arial_label
            when 'metaobject_reference'
              assign metaobject_reference = ''
              assign json_meta_objects_json = product.metafields[settings.product_specification_metafield_namespace][k].value | json
              assign meta_objects = json_meta_objects_json | split: ','
              assign tmp_keys = ''
              for meta_object in meta_objects
                assign tmp_res = meta_object | split: ':'
                assign tmp_res = tmp_res.first | replace: '{"', '' | replace: '"', ''
                assign tmp_keys = tmp_keys | append: tmp_res | append: ','
              endfor
              assign tmp_keys = tmp_keys | append: "#END"
              assign tmp_keys = tmp_keys | remove: ",#END"
              assign tmp_key_array = tmp_keys | split: ","
              for tmp_k in tmp_key_array
                assign metaobj_specification_name = tmp_k | upcase | replace: '_', ' '
                assign metaobj_specification_value = ''

                case product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].type
                  when 'boolean'
                    if product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k]
                      assign metaobj_specification_value = '<span class="mr-8">SHT_PRODUCT_SPEC_NAME:</span>' | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name | append: icon_check
                    else
                      assign metaobj_specification_value = '<span class="mr-8">SHT_PRODUCT_SPEC_NAME:</span>' | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name | append: icon_close
                    endif
                  when 'rich_text_field'
                    assign metaobj_specification_value = product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | metafield_tag
                  when 'color'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: <span class="product-spec--color d-block ml-8" style="background-color: SHT_PRODUCT_COLOR_SPEC"></span>' | replace: 'SHT_PRODUCT_COLOR_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'date'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_DATE_SPEC' | replace: 'SHT_PRODUCT_DATE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'date_time'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_DATE_TIME_SPEC' | replace: 'SHT_PRODUCT_DATE_TIME_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'dimension'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_DIMENSION_VALUE_SPEC<span class="color-light">SHT_PRODUCT_DIMENSION_UNIT_SPEC</span>' | replace: 'SHT_PRODUCT_DIMENSION_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['value'] | replace: 'SHT_PRODUCT_DIMENSION_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['unit'] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'multi_line_text_field'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_MULTI_LINE_TEXT_SPEC' | replace: 'SHT_PRODUCT_MULTI_LINE_TEXT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'single_line_text_field'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_SINGLE_LINE_TEXT_SPEC' | replace: 'SHT_PRODUCT_SINGLE_LINE_TEXT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'url'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: <a class="td-underline" href="SHT_PRODUCT_URL_SPEC" rel="noopener noreferrer nofollow" target="_blank">SHT_PRODUCT_URL_SPEC</a>' | replace: 'SHT_PRODUCT_URL_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'volume'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_VOLUMN_VALUE_SPEC<span class="color-light">SHT_PRODUCT_VOLUMN_UNIT_SPEC</span>' | replace: 'SHT_PRODUCT_VOLUMN_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['value'] | replace: 'SHT_PRODUCT_VOLUMN_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['unit'] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'weight'
                    assign metaobj_specification_value = 'SHT_PRODUCT_SPEC_NAME: SHT_PRODUCT_WEIGHT_VALUE_SPEC<span class="color-light">SHT_PRODUCT_WEIGHT_UNIT_SPEC</span>' | replace: 'SHT_PRODUCT_WEIGHT_VALUE_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['value'] | replace: 'SHT_PRODUCT_WEIGHT_UNIT_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['unit'] | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                  when 'rating'
                    assign rating_arial_label = 'accessibility.star_reviews_info' | t: rating_value: product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value, rating_max: product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['scale_max']
                    assign metaobj_specification_value = '<span>SHT_PRODUCT_SPEC_NAME:</span> <span class="product-spec--rating stars" role="img" aria-label="SHT_PRODUCT_RATING_ARIAL_LABEL" style="--rating: SHT_PRODUCT_RATING_VALUE;--rating-max: SHT_PRODUCT_RATING_MAX_VALUE;--rating-decimal: 0;"><span class="product-spec--rating-value">SHT_PRODUCT_RATING_SPEC</span></span>' | replace: 'SHT_PRODUCT_RATING_SPEC', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name | replace: 'SHT_PRODUCT_RATING_MAX_VALUE', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value['scale_max'] | replace: 'SHT_PRODUCT_RATING_VALUE', product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k].value | replace: 'SHT_PRODUCT_RATING_ARIAL_LABEL', rating_arial_label
                  when 'file_reference'
                    assign metaobj_file_value = product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k] | downcase
                    if metaobj_file_value != 'videodrop' and metaobj_file_value contains 'gid://shopify/mediaimage/'
                      assign get_metaobj_file = product.metafields[settings.product_specification_metafield_namespace][k].value[tmp_k]
                      assign file_metaobject_url = get_metaobj_file | image_url: width: get_file.width | image_tag: widths: '128', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", loading: 'lazy', decoding: 'async', class: 'h-100 w-100 of-cover'
                      assign metaobj_specification_value = '<span> SHT_PRODUCT_SPEC_NAME: </span> <span class="product-spec--image d-block ml-8">SHT_PRODUCT_IMG_SPEC</span>' | replace: 'SHT_PRODUCT_IMG_SPEC', file_metaobject_url | replace: 'SHT_PRODUCT_SPEC_NAME', metaobj_specification_name
                    endif
                endcase
                if metaobj_specification_name != '' and metaobj_specification_value != ''
                  capture metaobject_reference
                      echo metaobject_reference
                      echo metaobj_specification_value | prepend: '<li class="d-flex fw-wrap">' | append: '</li>'
                  endcapture
                endif
              endfor
              assign specification_value = '<ul class="ls-none p-zero d-grid gap-4 gap-md-8">' | append: metaobject_reference | append: '</ul>'
          endcase
      -%}
      {%- if specification_name != '' and specification_value != '' -%}
        {% assign index = index | plus: 1 %}
        {%- capture html -%}
          {{ html }}
          {%- liquid
            assign d_none_class = ''
            if index > 40 and show_full_specifications == false
              assign d_none_class = ' d-none'
            endif
          %}
          <li class="specification-item{{ d_none_class }}">
            <div class="product-spec d-grid gap-half">
              {%- if show_specification_label -%}
                <span class="product-spec_name d-block fw-700">{{- specification_name -}} </span>
              {%- endif -%}
              <span class="product-spec__value">{{- specification_value -}}</span>
            </div>
          </li>
        {%- endcapture -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if html != '' -%}
      <div class="s-text-pt d-block product-specifications ta-left">
        <ul class="specification-list ls-none d-grid gap-1x wb-break-word">{{ html }}</ul>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}