{{ 'account.css' | asset_url | stylesheet_tag: preload: true }}
{%- paginate customer.addresses by 5 -%}
  <div class="ctnr account-adress">
    <div class="s-content">
      <div class="rw middle-md account__header">
        <div class="clm" style="--w-xs:12;--w-md:6">
          <h1	tabindex="-1" class="m-zero h2">{{ 'customer.account.title' | t }}</h1>
        </div>
        <div class="clm d-flex end-md middle-md top-xs fd-column fd-row-md mt-16 mb-32 m-zero-md" style="--w-xs:12;--w-md:6">
          <span class="mr-16">{{ 'customer.account.welcome_message' | t }} {{ customer.name | append: '!' }}</span>
          <a class="btn btn-link btn-large mt-8 m-zero-md fw-700" href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
        </div>
      </div>
      <div class="rw">
        <div class="clm" style="--w-xs:12;">
          <ul class="tab__header d-flex pb-32 p-relative ox-auto disable-scrollbars ls-none ws-nowrap gap-2x">
            <li class="tab__item d-inline-block">
              <a class="tab__link h6 mb-0 p-relative d-block" href="{{ routes.account_url }}">
                {{ "customer.orders.title_1" | t }}
              </a>
            </li>
            <li class="tab__item d-inline-block">
              <a class="tab__link h6 mb-0 p-relative d-block tab__link--active" href="{{ routes.account_addresses_url }}">
                {{ "customer.addresses.title" | t }}
              </a>
            </li>
          </ul>
          <div class="s-content">
            <div class="d-flex top-xs middle-md between-md fd-column fd-row-md mb-32 mb-md-48">
              <h3 class="h5 m-zero">{{ 'customer.addresses.title_1' | t: address_count: customer.addresses.size }}</h3>
              <button type="button" id="editFormButton_addAddress" aria-expanded="false" data-address-id="addAddress" aria-controls="addAddress" class="btn btn-large btn-secondary mt-24 m-zero-md js-account-address-toggle-address-btn">
                {{ 'customer.addresses.add_new' | t }}
              </button>
            </div>
            <div id="addAddress" class="rw r-gap-24 pb-32 d-none">
              <div class="clm" style="--w-xs:12">
                <h4 id="addressNewHeading" class="m-zero h5">{{ 'customer.addresses.add_new' | t }}</h4>
              </div>
              {%- form 'customer_address', customer.new_address, aria-labelledBy: 'addressNewHeading', class: 'd-flex fw-wrap r-gap-24 r-gap-md-32' -%}
                <div class="clm" style="--w-md:6">
                  <label for="addressFirstNameNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.first_name' | t }}<span class="ml-4 color-error">*</span></label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}" required/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressLastNameNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.last_name' | t }}</label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}"/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressCompanyNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.company' | t }}</label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}"/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressPhoneNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.phone' | t }}</label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}"/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressAddress1New" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.address1' | t }}<span class="ml-4 color-error">*</span></label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}" required/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressAddress2New" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.address2' | t }}</label>
                  <input class="field__text field--focus field--hover w-100" type="text" id="addressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}"/>
                </div>

                <div class="clm" style="--w-xs:12">
                  <label for="addressCountryNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.country' | t }}<span class="ml-4 color-error">*</span></label>
                  <div class="field__select p-relative">
                    <select class="field__text field--focus field--hover w-100" id="addressCountryNew" name="address[country]" autocomplete="country" data-default="{{ form.country }}">
                      {{ all_country_option_tags }}
                    </select>
                    <span class="btn btn-large btn-icon p-absolute right-0 pe-none">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </div>
                </div>
                <div class="clm" id="addressProvinceContainerNew" style="--w-xs:12; display: none;">
                  <label for="addressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                  <div class="field__select p-relative">
                    <select class="field__text field--focus field--hover w-100" id="addressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                    <span class="btn btn-large btn-icon p-absolute right-0 pe-none">
                      {% render 'icon-chevron-down' %}
                    </span>
                  </div>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressCityNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.city' | t }}<span class="ml-4 color-error">*</span></label>
                  <input required class="field__text field--focus field--hover w-100" type="text" id="addressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}"/>
                </div>
                <div class="clm" style="--w-md:6">
                  <label for="addressZipNew" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.zip' | t }}<span class="ml-4 color-error">*</span></label>
                  <input required class="field__text field--focus field--hover w-100" type="text" id="addressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}"/>
                </div>
                <div class="clm" style="--w-xs:12">
                  <label class="d-flex c-pointer" for="address_default_address_{{ form.id }}">
                    <input type="checkbox" class="field__checkbox p-absolute opacity-0" id='address_default_address_{{ form.id }}' name='address[default]' value='1'>
                    {% render 'icon-check', class: 'icon-checkmark mr-8 field--hover checkbox--hover' %}
                    <span>{{ 'customer.addresses.set_default' | t }}</span>
                  </label>
                </div>
                <div class="clm d-flex end-md gap-12 fd-column-reverse fd-row-md" style="--w-xs:12">
                  <button class="btn btn-large btn-secondary js-account-address-cancel-address-btn" type="reset" data-address-id="addAddress">{{ 'customer.addresses.cancel' | t }}</button>
                  <button class="btn btn-large btn-primary">{{ 'customer.addresses.add' | t }}</button>
                </div>
              {%- endform -%}
            </div>

            {%- for address in customer.addresses -%}
              <div class="address address-{{ address.id }} js-account-address-container">
                <div class="rw">
                  <div class="clm d-flex between-xs middle-xs d-block-md mb-16 m-zero-md" style="--w-xs:12;--w-md:3">
                    <span class="d-block fw-700">{{ address.name }}</span>
                    {%- if address == customer.default_address -%}
                      <span class="d-inline-block mt-md-12 tag">
                        {{ 'customer.addresses.default' | t }}
                      </span>
                    {%- endif -%}
                  </div>
                  <div class="clm" style="--w-xs:12;--w-md:7">
                    <span class="d-block mb-8">{{ address.company }}</span>
                    <span class="d-block mb-8">{{ address.phone }}</span>
                    <span class="d-block mb-8">{{ address.address1 }}</span>
                    <span class="d-block mb-8">{{ address.city }}
                      {{ address.province_code }}
                      {{ address.zip }}
                    </span>
                    <span class="d-block">{{ address.country }}</span>
                  </div>
                  <div class="clm d-flex end-md mt-16 m-zero-md top-md" style="--w-xs:12;--w-md:2">
                    <button class="btn btn-link btn-small js-account-address-toggle-address-btn" id="editFormButton_{{ address.id }}" aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}" aria-controls="editAddress_{{ address.id }}" aria-expanded="false" data-address-id="editAddress_{{ address.id }}">
                      {{ 'customer.addresses.edit' | t }}
                    </button>
                    <button class="ml-12 btn btn-link btn-small js-account-address-delete-address-btn" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </div>
                </div>
              </div>
              <div id="editAddress_{{ address.id }}" class="rw pb-32 d-none r-gap-24">
                <div class="clm" style="--w-xs:12">
                  <h4 class="m-zero h5">{{ 'customer.addresses.edit_address' | t }}</h4>
                </div>
                {%- form 'customer_address', address, class: 'd-flex fw-wrap r-gap-24 r-gap-md-32' -%}
                  <div class="clm" style="--w-md:6">
                    <label for="addressFirstName_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.first_name' | t }}<span class="ml-4 color-error">*</span></label>
                    <input required class="field__text field--focus field--hover w-100" type="text" id="addressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressLastName_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.last_name' | t }}</label>
                    <input class="field__text field--focus field--hover w-100" type="text" id="addressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressCompany_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.company' | t }}</label>
                    <input class="field__text field--focus field--hover w-100" type="text" id="addressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressPhone_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.phone' | t }}</label>
                    <input class="field__text field--focus field--hover w-100" type="text" id="addressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressAddress1_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.address1' | t }}<span class="ml-4 color-error">*</span></label>
                    <input required class="field__text field--focus field--hover w-100" type="text" id="addressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressAddress2_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.address2' | t }}</label>
                    <input class="field__text field--focus field--hover w-100" type="text" id="addressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}"/>
                  </div>
                  <div class="clm" style="--w-xs:12">
                    <label for="addressCountry_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.country' | t }}<span class="ml-4 color-error">*</span></label>
                    <div class="field__select p-relative">
                      <select class="field__text field--focus field--hover w-100 js-account-address-country-select" id="addressCountry_{{ form.id }}" name="address[country]" data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country" autocomplete="country">
                        {{ all_country_option_tags }}
                      </select>
                      <span class="btn btn-large btn-icon p-absolute right-0 pe-none">
                        {% render 'icon-chevron-down' %}
                      </span>
                    </div>
                  </div>
                  <div class="clm" id="addressProvinceContainer_{{ form.id }}" style="--w-md:12; display: none;">
                    <label for="addressProvince_{{ form.id }}" class="field__label d-block mb-8 fw-700">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    <div class="field__select p-relative">
                      <select class="field__text field--focus field--hover w-100" id="addressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                      <span class="btn btn-large btn-icon p-absolute right-0 pe-none">
                        {% render 'icon-chevron-down' %}
                      </span>
                    </div>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressCity_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.city' | t }}<span class="ml-4 color-error">*</span></label>
                    <input required class="field__text field--focus field--hover w-100" type="text" id="addressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}"/>
                  </div>
                  <div class="clm" style="--w-md:6">
                    <label for="addressZip_{{ form.id }}" class="field__label d-block mb-8 fw-700">{{ 'customer.addresses.zip' | t }}<span class="ml-4 color-error">*</span></label>
                    <input required class="field__text field--focus field--hover w-100" type="text" id="addressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}"/>
                  </div>
                  <div class="clm" style="--w-xs:12">
                    <label class="d-flex c-pointer" for="address_default_address_{{ form.id }}">
                      <input type="checkbox" class="field__checkbox p-absolute opacity-0" id='address_default_address_{{ form.id }}' name='address[default]' value='1'>
                      {% render 'icon-check', class: 'icon-checkmark mr-8 field--hover checkbox--hover' %}
                      <span>{{ 'customer.addresses.set_default' | t }}</span>
                    </label>
                  </div>

                  <div class="clm d-flex end-md gap-12 fd-column-reverse fd-row-md" style="--w-xs:12">
                    <button class="btn btn-large btn-secondary js-account-address-cancel-address-btn" data-address-id="{{ address.id }}" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                    <button class="btn btn-large btn-primary">{{ 'customer.addresses.update' | t }}</button>
                  </div>
                {%- endform -%}
              </div>
            {%- endfor -%}
          </div>
          {%- if paginate.pages > 1 -%}
            <div class="s-footer">
              {%- render 'pagination', paginate: paginate -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endpaginate -%}
<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
{%- liquid
  assign files = "component-account.js" | split: ', '
  render 'js-loader', files: files
-%}