{{ 'account.css' | asset_url | stylesheet_tag: preload: true }}
<div class="ctnr">
  <div class="rw">
    <div class="clm m-auto" style="--w-xs:12;--w-sm:8;--w-md:6">
      <div class="s-content">
        <div id="recover" class="d-none outline-zero" tabindex="-1">
          <div class="s-header ta-center">
            <h1 class="m-zero mb-16 h2"	tabindex="-1">{{ 'customer.reset_password.title' | t }}</h1>
            <p class="m-zero">{{ 'customer.login_page.guest_reset_password_title' | t }}</p>
          </div>
          {%- form 'recover_customer_password', class: 'form form--recover d-flex center-xs fd-column ' -%}
            {%- if form.errors -%}
              <div class="d-flex middle-xs center-xs mb-32 outline-zero" tabindex="-1" autofocus>
                <div class="icon icon--default icon--error" focusable="false" role="presentation">
                  {% render 'icon-error', size: 16 %}
                </div>
                <span class="ml-8">
                  {% for error in form.errors %}
                    {% if error == 'form' %}
                      {{ form.errors.messages[error] }}
                    {% else %}
                      {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                    {% endif %}
                  {% endfor %}
                </span>
              </div>
            {%- endif -%}

            {% assign recover_success = form.posted_successfully? %}
            <div>
              <label for="recoverEmail" class="field__label fw-700 p-relative d-block mb-8">
                {{ 'customer.login_page.email' | t }}<sup class="p-absolute ml-4 color-error">*</sup>
              </label>
              <input
                type="email"
                value=""
                name="email"
                id="recoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="recoverEmailError"
                  autofocus
                {% endif %}
                placeholder="{{ 'customer.placeholder.email' | t }}"
                required="required"
                aria-required="true"
                class="field__text field--focus field--hover{% if form.errors contains 'email' %} field--error{% endif %} w-100"
              >
            </div>
            <div class="d-flex middle-sm between-sm fd-column-reverse fd-row-sm mt-32">
              <a href="#login" class="btn btn-link btn-large mt-12 m-zero-sm">
                {{ 'customer.login_page.cancel' | t }}
              </a>
              <button class="btn btn-large btn-primary">
                {{ 'customer.login_page.send' | t }}
              </button>
            </div>
          {%- endform -%}
        </div>
        <div id="login">
          <div class="s-header ta-center">
            <h1	class="m-zero h2" tabindex="-1">{{ 'customer.login_page.title' | t }}</h1>
          </div>
          {%- if recover_success == true -%}
            <div class=" d-flex middle-xs mb-32" tabindex="-1" role="alert" aria-atomic="true">
              <div class="icon icon--default icon--success">
                {% render 'icon-check', size: 16 %}
              </div>
              <span class="ml-8 flex-1">
                {{ 'customer.reset_password.success' | t }}
              </span>
            </div>
          {%- endif -%}

          {%- form 'customer_login', class: 'form form--customer-login ' -%}
            {%- if form.errors -%}
              <div class="d-flex middle-xs center-xs mb-32 outline-zero" tabindex="-1" autofocus>
                <div class="icon icon--default icon--error" focusable="false" role="presentation">
                  {% render 'icon-error', size: 16 %}
                </div>
                <span class="ml-8">
                  {% for error in form.errors %}
                    {% if error == 'form' %}
                      {{ form.errors.messages[error] }}
                    {% else %}
                      {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                    {% endif %}
                  {% endfor %}
                </span>
              </div>
            {%- endif -%}
            <div class="mb-24">
              <label for="customerEmail" class="field__label fw-700 p-relative d-block mb-8">
                {{ 'customer.login_page.email' | t }}<sup class="p-absolute ml-4 color-error">*</sup>
              </label>
              <input
                type="email"
                name="customer[email]"
                id="customerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                class="field__text field--focus field--hover w-100"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.placeholder.email' | t }}"
                required="required"
                aria-required="true"
              >
            </div>
            {%- if form.password_needed -%}
              <div>
                <div class="d-flex between-xs mb-8">
                  <label for="customerPassword" class="field__label fw-700 p-relative d-block">
                    {{ 'customer.login_page.password' | t }}<sup class="p-absolute ml-4 color-error">*</sup>
                  </label>
                  <a class="td-underline" href="#recover">
                    {{ 'customer.login_page.forgot_password' | t }}
                  </a>
                </div>
                <input
                  type="password"
                  value=""
                  name="customer[password]"
                  id="customerPassword"
                  autocomplete="current-password"
                  class="field__text field--focus field--hover w-100"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.placeholder.password' | t }}"
                  required="required"
                  aria-required="true"
                >
              </div>
            {%- endif -%}
            <div class="d-flex middle-md between-md fd-column-reverse fd-row-md mt-32 gap-12">
              <a href="{{ routes.account_register_url }}" class="btn btn-link btn-large">
                {{ 'customer.login_page.create_account' | t }}
              </a>
              <button class="btn btn-large btn-primary">
                {{ 'customer.login_page.login' | t }}
              </button>
            </div>
          {%- endform -%}

          {%- if shop.checkout.guest_login -%}
            <h2>{{ 'customer.login_page.guest_title' | t }}</h2>
            <div id="guestLoginForm">
              {%- form 'guest_login', class: 'form' -%}
                <button class="btn btn-large btn-primary">
                  {{ 'customer.login_page.guest_continue' | t }}
                </button>
              {%- endform -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.account_login.name"
}
{% endschema %}