{{ 'account.css' | asset_url | stylesheet_tag: preload: true }}
<div class="ctnr">
  <div class="rw">
    <div class="clm m-auto" style="--w-xs:12;--w-sm:8;--w-md:6">
      <div class="s-header ta-center">
        <h1 class="m-zero h2" tabindex="-1">{{ 'customer.activate_account.title' | t }}</h1>
        <div class="s-header__desc mt-24">{{ 'customer.activate_account.subtext' | t }}</div>
      </div>
      <div class="s-content">
        {%- form 'activate_customer_password' -%}
          {%- if form.errors -%}
            <div class="d-flex middle-xs mb-32" tabindex="-1">
              <div class="icon icon--default icon--error">
                {% render 'icon-error', size: 16 %}
              </div>
              <div class="ml-8 flex-1">
                <h6>
                  {{ 'templates.contact.form.error_heading' | t }}
                </h6>
                <ul class="mt-8 pl-12">
                  {%- for field in form.errors -%}
                    <li>
                      {%- if field == 'form' -%}
                        {{ form.errors.messages[field] }}
                      {%- else -%}
                        <a href="#field">
                          {{ form.errors.translated_fields[field] | capitalize }}
                          {{ form.errors.messages[field] }}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          {%- endif -%}

          <div class="mb-24">
            <label for="password" class="field__label fw-700 d-block mb-8">
              {{ 'customer.activate_account.password' | t }}
            </label>
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="new-password"
              placeholder="{{ 'customer.placeholder.password' | t }}"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="password-error"
              {% endif %}
              class="field__text field--focus field--hover{% if form.errors contains 'password' %} field--error{% endif %} w-100"
            >
            {% if form.errors contains 'password' -%}
              <span class="d-block mt-8 color-error">
                {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
              </span>
            {%- endif -%}
          </div>
          <div class="field">
            <label for="password_confirmation" class="field__label fw-700 d-block mb-8">
              {{ 'customer.activate_account.password_confirm' | t }}
            </label>
            <input
              type="password"
              name="customer[password_confirmation]"
              id="password_confirmation"
              autocomplete="new-password"
              placeholder="{{ 'customer.placeholder.password' | t }}"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="password_confirmation-error"
              {% endif %}
              class="field__text field--focus field--hover{% if form.errors contains 'password_confirmation' %} field--error{% endif %} w-100"
            >
            {%- if form.errors contains 'password_confirmation' -%}
              <span class="d-block mt-8 color-error">
                {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
              </span>
            {%- endif -%}
          </div>
          <div class="d-flex middle-md between-md fd-column-reverse fd-row-md gap-12">
            <button name="decline" class="btn btn-link btn-large">
              {{ 'customer.activate_account.cancel' | t }}
            </button>
            <button class="btn btn-large btn-primary mt-32">
              {{ 'customer.activate_account.button' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.account_activate.name"
}
{% endschema %}