{%- liquid
  assign placeholder = 'image' | placeholder_svg_tag: 'placeholder media'
  assign show_image = settings.blog_post_card_show_featured_image
  assign image_ratio = settings.blog_post_card_featured_image_ratio

  assign show_excerpt = settings.blog_post_card_show_excerpt
  assign show_published_date = settings.blog_post_card_show_published_date
  assign show_author = settings.blog_post_card_show_author
  assign show_read_more = settings.blog_post_card_show_read_more
  assign items_to_show = section.settings.items_to_show

 -%}
<div class="ctnr" data-ui-component="Blog Post List Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="m-auto js-animate" style="--w-xs:12;--w-md:10;">
    {%- render 'section-header',
        content_align: section.settings.content_alignment,
        subheading: section.settings.subheading,
        heading: section.settings.heading,
        description: section.settings.description,
        section: section
      -%}
    <div class="s-content">
      <sht-carousel class="p-relative d-block" data-enable="{{ section.settings.enable_carousel }}">
        <div aria-atomic="true" class="o-hidden rw gap-unequal {{ section.settings.show_progress_indicator | replace: 'true', 'progress-indicator' }} {% if section.settings.enable_carousel and  section.settings.show_progress_indicator %} progress-indicator-fw {% endif %} {{ section.settings.enable_carousel | default: '' | replace: 'true', 'fw-nowrap carousel ox-auto p-relative scrollable scrollable-x disable-scrollbars js-carousel-items m-zero' }}">
          {% for article in blogs[section.settings.blog].articles limit: items_to_show %}
            <sht-carousel-itm class="clm anm anm-fadeInUpLarge {{ section.settings.enable_carousel | default: '' | replace: 'true', 'carousel__item js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero' }}" style="--w-xs:12;--w-sm:6;--w-md:4; --w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" data-item-index="{{ forloop.index }}">
              {% render 'card-article',
                article: article,
                blog: section.settings.blog,
                show_image: show_image,
                image_ratio: image_ratio,
                show_blog_tag: false,
                show_excerpt: show_excerpt,
                show_published_date: show_published_date,
                show_author: show_author,
                show_read_more: show_read_more
              %}
            </sht-carousel-itm>
            {%- else -%}
              {% for i in (1..items_to_show) %}
                <sht-carousel-itm class="clm anm anm-fadeInUpLarge {{ section.settings.enable_carousel | default: '' | replace: 'true', 'carousel__item js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero' }}" style="--w-xs:12;--w-sm:6;--w-md:4; --w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" data-item-index="{{ forloop.index }}">
                  <div class="card w-100 card--content-outer">
                    <div class="card__media p-relative d-none {{ show_image | replace: true, 'd-block' }}">
                      <a aria-label="{{ 'sections.featured_blog.article.title' | t }}" href="#" class="pe-no-link p-absolute w-100 h-100"></a>
                      {% render 'image', image_item: placeholder, ratio: image_ratio %}
                    </div>
                    <div class="card__content card__content--outer wb-break-word">
                      <a href="#" class="pe-no-link td-none mb-16 tag d-none-important" >{{ 'sections.featured_blog.article.lorem_tag' | t }}</a>
                      <h3 class="mb-12 h5">
                        <a href="#" class="pe-no-link td-none d-inline-block link--hover">{{ 'sections.featured_blog.article.title' | t }}</a>
                      </h3>
                      <div class="hide-empty mb-12 subtext color-light">
                        <span class="d-none {{ show_author | replace: true, 'd-inline-block' }}">{{ 'sections.featured_blog.article.lorem_author' | t }}</span>
                        {% if show_author and show_published_date %}
                          {{ 'sections.featured_blog.article.in_date' | t }}
                        {% endif %}
                        <span class="d-none {{ show_published_date | replace: true, 'd-inline-block' }}">
                          {{ 'sections.featured_blog.article.lorem_date' | t }}
                        </span>
                      </div>
                      <p class="card__excerpt mb-12 o-hidden {{ show_excerpt | default: 'd-none-important' | replace: 'true', '' }}">
                        {{ 'sections.featured_blog.article.excerpt' | t | strip_html | truncatewords: 30 }}
                      </p>
                      <a class="btn btn-small btn-link {{ show_read_more | default: 'd-none-important' | replace: 'true', '' }}" href="{{ article.url | default: '#' }}">
                        {{ 'blogs.article.read_more' | t }}
                      </a>
                    </div>
                  </div>
                </sht-carousel-itm>
              {% endfor %}
          {% endfor %}
        </div>
        <div class="carousel-pagination carousel-pagination--position w-100 p-absolute no-js-hidden d-none {{ section.settings.enable_carousel | replace: 'true', 'd-block-md' }}">
          <div class="p-absolute zi-1 left-0">
            <button type="button" data-step="1" class="js-carousel-prev-btn btn btn-secondary btn-icon icon btn-large " aria-label="{{ 'accessibility.previous_slide' | t }}" name="previous" disabled>{% render 'icon-arrow-left' %}</button>
          </div>
          <div class="p-absolute zi-1 right-0">
            <button type="button" data-step="1" class="js-carousel-next-btn btn btn-secondary btn-icon icon btn-large" aria-label="{{ 'accessibility.next_slide' | t }}" name="next" disabled>{% render 'icon-arrow-right' %}</button>
          </div>
        </div>
      </sht-carousel>
    </div>
    {% if items_to_show < section.settings.blog.articles_count %}
      <div class="s-footer anm anm-fadeInUpLarge {{ section.settings.content_alignment }} {{ section.settings.show_view_all_button | default: 'd-none' | replace: 'true', 'd-block' }} {% if section.settings.btn_text == blank %}d-none-important {% endif %}" style="--duration: .7s; --delay: .15s">
        <a href="{{ section.settings.blog.url | default: "#" }}" class="btn btn-primary btn-large hide-empty">
          {{- section.settings.btn_text -}}
        </a>
      </div>
    {% endif %}
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.blog_post_list.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "label": "t:general.settings.section_subheading.label",
      "id": "subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Blog posts list"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog_post_list.settings.blog.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:general.settings.enable_carousel.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_indicator",
      "label": "t:general.settings.show_progress_indicator.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:general.settings.maximum_items_to_show.label",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_button.content"
    },
    {
      "type": "checkbox",
      "id": "show_view_all_button",
      "label": "t:sections.product_lists.settings.enable_view_more.label",
      "info": "t:sections.product_lists.settings.blog_post_list.info"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "t:general.settings.label.label",
      "default": "View all"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog_post_list.name"
    }
  ]
}
{% endschema %}