{%- liquid
  assign desktop_image = 'image' | placeholder_svg_tag: 'placeholder media media-md d-none d-block-md w-100 h-100 of-cover'
  assign mobile_image = 'image' | placeholder_svg_tag: 'placeholder media d-none-md d-block w-100 h-100 of-cover'

  assign desktop_image_alt  = section.settings.desktop_image.alt | default: section.settings.desktop_image.image | split: '/' | last
  assign desktop_image = section.settings.desktop_image | image_url: width: section.settings.desktop_image.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: desktop_image_alt, class: 'd-none d-block-md w-100 h-100 media media-md of-cover'

  assign mobile_image_alt  = section.settings.mobile_image.alt | default: section.settings.mobile_image.image | split: '/' | last
  assign mobile_image = section.settings.mobile_image | image_url: width: section.settings.mobile_image.width | image_tag: widths: '750, 950', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: mobile_image_alt, class: 'd-none-md d-block w-100 h-100 media of-cover'

  assign heading_style = section.settings.enable_large_heading | default: '' | replace: 'true', 'headline'

  assign content_style = '--gc-xs:1/13;--gc-md:1/7;--gr-xs:1'
  assign first_image_style = '--gc-xs:1/13;--gc-md:7/13;--gr-xs:2;--gr-md:1'
  assign s_card_postion = 's-card--right'
  if section.settings.content_ordering == 'image_first'
    assign content_style = '--gc-xs:1/13;--gc-md:7/13;--gr-xs:1;'
    assign first_image_style = '--gc-xs:1/13;--gc-md:1/7;--gr-xs:2;--gr-md:1'
    assign s_card_postion = 's-card--left'
  endif
-%}
<div class="ctnr" data-ui-component="Image With Text Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">

  <div class="d-grid bs-card c-gap middle-xs corner-radius-lg js-animate anm {{ section.settings.color_scheme }}" style="--gtc-equal:12;--mh-md:{{ section.settings.height }}vh; --duration: .6s">
    <div class="s-card h-100 d-flex fd-column center-xs {{ s_card_postion }}" style="{{ content_style }}">

      <div class="mb-10 middle-sm">
      <img src="https://cdn.shopify.com/s/files/1/0837/5923/5354/files/Color_logo_-_no_background.png?v=1698037889" style="width: 250px;" alt="">
      </div>

      <div class="s-header">
        <div class="s-header__sub h6 hide-empty d-inline-block fw-700 tt-up anm anm-fadeInUpSmall" style="--duration: .6s;" >{{- section.settings.subheading | escape -}}
        </div>
        <h2 id="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}" class="s-header__title mb-0 hide-empty anm anm-fadeInUpSmall {{ heading_style }}" style="--duration: .6s;">{{- section.settings.heading | escape -}}</h2>
      </div>
      <div class="s-content d-grid r-gap-3x anm anm-fadeInUpLarge anm-card" style="--duration: .7s;">
        {%- for block in section.blocks -%}
          <div class="s-info" {{ block.shopify_attributes }}>
            <h3 class="h5 wb-break-word mb-0 hide-empty">{{- block.settings.heading | escape -}}</h3>
            <div class="text-block hide-empty s-text-mt">{{- block.settings.description -}}</div>
          </div>
        {%- endfor -%}
      </div>
      <div class="{% if section.blocks.size != 0 %} s-footer anm anm-fadeInUpLarge anm-card {% endif %} d-inline-flex gap-12 fw-wrap hide-empty" style="--duration: .7s;">
        {%- if section.settings.primary_button_label != blank -%}
          <a class="btn btn-large btn-primary hide-empty" href="{{- section.settings.primary_button_link | default: '#' -}}">{{- section.settings.primary_button_label | escape -}}</a>
          
        {%- endif -%}
        {%- if section.settings.secondary_button_label != blank -%}
          <a class="btn btn-large btn-secondary hide-empty" href="{{- section.settings.secondary_button_link | default: '#' -}}">{{- section.settings.secondary_button_label | escape -}}</a>
        {%- endif -%}
      </div>
      <div class="s-footer-sm {{ newsletter_form_class }} clm p-zero js-animate anm anm-fadeInUpLarge {{ content_align }}" style="w-100 --w-md:6; --duration: .7s; --delay: .15s;">
        {% render 'newsletter-form', form_id: frm_id , form_name: 'newsletterForm', content_align: content_align %}
      </div>
    </div>

    <div class="h-100 w-100 p-relative o-hidden" style="{{ first_image_style }}; --ratio: {{ section.settings.image_ratio }};--ratio-md: 1/1;">
      <div class="h-100 w-100 media-wrapper anm anm-zoomOut anm-card" style="--duration: .7s;">
        {%- liquid
          if section.settings.mobile_image
            echo mobile_image | replace: "src=", 'data="mobile" loading="lazy" decoding="async" fetchpriority="low" src='
            echo desktop_image | replace: "src=", 'loading="lazy" decoding="async" fetchpriority="low" src='
            else
            echo desktop_image | replace: 'd-none d-block-md', '' | replace: "src=", 'loading="lazy" decoding="async" fetchpriority="low" src='
          endif
        -%}
      </div>
    </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>

{% schema %}
{
  "name": "Custom Landing Banner",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "color-scheme-1 background",
      "options": [
        {
          "value": "color-scheme-1 background",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "color-scheme-2 background",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Image with text"
    },
    {
      "type": "checkbox",
      "id": "enable_large_heading",
      "label": "t:general.settings.enable_large_heading.label",
      "info": "t:general.settings.enable_large_heading.info"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "label": "t:general.settings.height_on_large_screen.label",
      "info": "t:general.settings.height_on_large_screen.info",
      "id": "height",
      "options": [
        {
          "value": "70",
          "label": "t:general.settings.height.options.option_70.label"
        },
        {
          "value": "100",
          "label": "t:general.settings.height.options.option_100.label"
        }
      ],
      "default": "70"
    },
    {
      "type": "select",
      "id": "content_ordering",
      "label": "t:general.settings.content_ordering_large_screen.label",
      "default": "text_first",
      "options": [
        {
          "value": "text_first",
          "label": "t:general.settings.content_ordering.options.option_text_first.label"
        },
        {
          "value": "image_first",
          "label": "t:general.settings.content_ordering.options.option_image_first.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:general.settings.image.label",
      "info": "t:general.settings.background_image.info"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:general.settings.mobile_image.label",
      "info": "t:general.settings.mobile_background_image.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:general.settings.mobile_image_ratio.label",
      "default": "3/4",
      "options": [
        {
          "value": "1/1",
          "label": "t:general.settings.image_ratio.options.option_square.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.image_with_text.settings.options.option_portrait.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.image_with_text.settings.options.option_landscape.label"
        },
        {
          "value": "auto",
          "label": "t:general.settings.image_ratio.options.option_adapt.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_buttons.content"
    },
    {
      "type": "text",
      "id": "primary_button_label",
      "label": "t:general.settings.primary_button_label.label",
      "info": "t:general.settings.button_label.info",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "t:general.settings.primary_button_link.label"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "t:general.settings.secondary_button_label.label",
      "info": "t:general.settings.button_label.info",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "t:general.settings.secondary_button_link.label"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:general.settings.headers.header_text.content",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Text block heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Share information about your products, policies or services.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
