<div class="ctnr" data-ui-component="Featured Product List Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="m-auto" style="--w-xs:12;--w-md:10;">
    {%- render 'section-header',
      content_align: section.settings.content_align,
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      description: section.settings.description,
      section: section
    -%}
    <div class="s-content">
      <sht-carousel class="p-relative d-block m-auto">
        <div aria-atomic="true" class="o-hidden {{ section.settings.show_progress_indicator | replace: 'true', 'progress-indicator progress-indicator-fw' }} d-flex fw-nowrap carousel ox-auto p-relative scrollable scrollable-x disable-scrollbars js-carousel-items js-animate">
          {%- for product in section.settings.product_list -%}
            <sht-carousel-itm tabindex="0" class="carousel__item clm anm anm-fadeInUpLarge js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" style="--w-xs:12;--w-sm:6;--w-md:4;--w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" data-item-index="{{ forloop.index }}">
              <div class="featured-product-item flex-1 w-100 corner-radius-lg {{ section.settings.color_scheme }}">
                  {%- liquid
                    capture product_specifications
                      render 'product-specifications', product: product, show_full_specifications: false, metafield_keys: section.settings.metafield_keys, show_specification_label: section.settings.show_specification_label
                    endcapture
                  -%}
                  {% capture view_details %}
                    <a href="{{- product.url | within: collection | default: '#' -}}" class="btn btn-secondary btn-small btn-view-details ta-left" aria-label="{{ "products.product.view_details" | t }}">
                      {{ 'products.product.view_details' | t }}
                    </a>
                  {% endcapture %}
                  {%-
                    render 'card-product',
                    product: product,
                    show_rating: section.settings.show_product_rating,
                    show_vendor: section.settings.show_vendor,
                    show_color_swatch: section.settings.show_color_swatch,
                    show_sale_badge: section.settings.show_sale_badge,
                    enable_quick_buy: section.settings.enable_quick_buy,
                    show_second_image: section.settings.secondary_image,
                    ratio: section.settings.image_ratio,
                    image_width: '750, 950',
                    content_align: section.settings.content_align,
                    view_details: view_details,
                    product_specifications: product_specifications
                    section: section,
                  -%}
              </div>
            </sht-carousel-itm>
          {%- else -%}
            {%- for i in (1..5) -%}
              <sht-carousel-itm tabindex="0" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" class="carousel__item clm anm anm-fadeInUpLarge js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero" style="--w-xs:12;--w-sm:6;--w-md:4;--w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" data-item-index="{{ forloop.index }}">
                <div class="featured-product-item w-100 corner-radius-lg {{ section.settings.color_scheme }}">
                  {% render 'card-product-placeholder', ratio: section.settings.image_ratio, content_align: section.settings.content_align, %}
                </div>
              </sht-carousel-itm>
            {%- endfor -%}
          {%- endfor -%}
        </div>
        <div class="carousel-pagination carousel-pagination--position d-none d-block-md zi-1 middle-y w-100 p-absolute no-js-hidden {{ section.settings.show_navigation | default: 'd-none d-block-md' | replace: 'true', '' }}">
          <div class="p-absolute middle-y left-0">
            <button type="button" data-step="1" class="js-carousel-prev-btn btn btn-secondary btn-icon icon btn-large" aria-label="{{ 'accessibility.previous_slide' | t }}" name="previous" disabled>{% render 'icon-arrow-left' %}</button>
          </div>
          <div class="p-absolute middle-y right-0">
            <button type="button" data-step="1" class="js-carousel-next-btn btn btn-secondary btn-icon icon btn-large" aria-label="{{ 'accessibility.next_slide' | t }}" name="next" disabled>{% render 'icon-arrow-right' %}</button>
          </div>
        </div>
      </sht-carousel>
    </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.featured_product_list.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_products.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "color-scheme-1 background",
      "options": [
        {
          "value": "color-scheme-1 background",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "color-scheme-2 background",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:general.settings.products.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "checkbox",
      "id": "show_progress_indicator",
      "label": "t:general.settings.show_progress_indicator.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center center-xs",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_text.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Featured products"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured_product_list.settings.headers.header_product_items.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:general.settings.image_ratio.label",
      "default": "2/3",
      "options": [
        {
          "value": "1/1",
          "label": "t:general.settings.image_ratio.options.option_square.label"
        },
        {
          "value": "2/3",
          "label": "t:general.settings.image_ratio.options.option_portrait.label"
        },
        {
          "value": "3/2",
          "label": "t:general.settings.image_ratio.options.option_landscape.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "secondary_image",
      "label": "t:general.settings.show_second_image_on_hover.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:general.settings.show_vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "t:general.settings.show_product_rating.label",
      "info": "t:general.settings.headers.header_rating.info"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "t:general.settings.show_color_swatches.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sale_badge",
      "label": "t:general.settings.show_badge.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quick_buy",
      "label": "t:general.settings.enable_quick_shop.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_product_specifications.content",
      "info": "t:general.settings.headers.header_product_specifications.info"
    },
    {
      "type": "text",
      "id": "metafield_keys",
      "label": "t:sections.featured_product_list.settings.metafield_keys.label",
      "info": "t:sections.featured_product_list.settings.metafield_keys.info"
    },
    {
      "type": "checkbox",
      "id": "show_specification_label",
      "label": "t:sections.featured_product_list.settings.show_specification_label.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_product_list.name"
    }
  ]
}
{% endschema %}