{%- liquid
  assign menu_style = ' header--menu-horizontal '
  assign popup_scheme = settings.popup_color_scheme
  if section.settings.enable_drawer
    assign menu_style = ' menu--drawer '
  endif

  assign search_style = 'header--search-simple'
  if section.settings.enable_search_full
    assign search_style = ' header--search-full-box '
  else
    assign form_search_style = popup_scheme
  endif

  capture icon_search
    render 'icon-search', size: '20px'
  endcapture

  capture icon_chevron_down
    render 'icon-chevron-down', size: '20', class: 'icon icon-chevron-down'
  endcapture

  capture icon_chevron_left
    render 'icon-chevron-left', size: '20', class: 'icon icon-chevron-left mr-12'
  endcapture
  capture icon_user
     render 'icon-user', size: '24'
  endcapture
-%}

{%- if shop.customer_accounts_enabled -%}
  {%- capture user_account -%}
    <div class="header__icon header__icon--account  d-none d-block-md">
      {%- if customer -%}
        <a aria-label="{{ 'customer.account_fallback' | t }}" href="{{ routes.account_url }}" class="btn btn-plain btn-large btn-icon header__account header__link" aria-label="{{ customer.first_name }}" title="{{ customer.first_name }}">
          {{ icon_user }}
        </a>
        {%- capture user_account_drawer_customer -%}
          <span class="customer_info">{{ customer.name }}</span>
          <a aria-label="{{ 'customer.account_fallback' | t }}" href="{{ routes.account_url }}" class="btn btn-link btn-small ml-16" title="{{ customer.name }}">
            {{ 'customer.account.view_account' | t }}
          </a>
        {%- endcapture -%}
      {%- else -%}
        <a aria-label="{{ 'customer.log_in' | t }}" href="{{ routes.account_login_url }}"
          class="btn btn-plain btn-large btn-icon header__link">
          {%- render 'icon-user' -%}
        </a>
        {%- capture user_account_drawer_guest -%}
          {{ icon_user }}
          <a aria-label="{{ 'customer.log_in' | t }}" href="{{ routes.account_login_url }}" class="btn btn-link btn-small ml-8">
            {{ 'customer.log_in' | t }}
          </a>
        {%- endcapture -%}
      {%- endif -%}
    </div>
  {%- endcapture -%}
  {%- capture user_account_drawer -%}
    <div class="header__icon--account d-flex middle-xs mb-16 mt-16 d-none-md">
      {{ user_account_drawer_guest }}
      {{ user_account_drawer_customer }}
    </div>
  {%- endcapture -%}
{%- endif -%}
{%- capture header_currency -%}
  {%- if section.settings.show_currency_selector and localization.available_countries.size > 1 -%}
    <sht-localization class="d-flex fg-1" data-js-file-id="component-country-switcher-js-file" data-js-file="{{ 'component-country-switcher.js' | asset_url }}" data-section-id="shopify-section-country-switcher-header" data-url="{{ routes.root_url }}?section_id=country-switcher-header">
      <button type="button" class="js-country-switcher-btn btn-localization fs-body d-flex between-xs middle-xs w-100 ta-left field__text field--focus field--hover c-pointer">
        {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
        {{ localization.country.currency.symbol }})
        {{ icon_chevron_down }}
      </button>
    </sht-localization>
  {%- endif -%}
{%- endcapture -%}
{%- capture header_search -%}
  <div class="header__icon header__icon__search">
    <a href="{{ routes.search_url }}" data-js-file-id="component-predictive-search-js-file" data-js-file="{{ 'component-predictive-search.js' | asset_url }}" onclick="event.preventDefault();" aria-label="{{ 'accessibility.search' | t }}" class="btn btn-plain btn-large btn-icon btn-search js-search-open-trigger" role="button" aria-haspopup="dialog">
      {{ icon_search }}
    </a>
  </div>
{%- endcapture -%}
<sht-sticky-header class="header-container {{ section.settings.color_scheme }} d-block" data-is-enabled="{{ section.settings.enable_sticky_header }}">
  <sht-header class="section-header ctnr ctnr-sm js-header d-block p-relative" data-ui-component="Header Section" data-show-search-full="{{ section.settings.enable_search_full }}" data-js-file-id="component-predictive-search-js-file" data-js-file="{{ 'component-predictive-search.js' | asset_url }}">
    <header class=" header {{ menu_style }} {{ search_style }} middle-xs p-relative zi-4" style="--logo-width-desktop: {{ section.settings.logo_width | append: 'px' }};--logo-width-mobile: {{ section.settings.logo_width_mobile | append: 'px' }};">
      <div class="header__logo d-flex middle-xs gap-16">
        <sht-menu-drwer-opner class="d-block header__icons {{ section.settings.enable_drawer | default: 'd-none-lg' | replace: true, '' }}" hidden>
          <button type="button" aria-expanded="false" aria-label="{{ 'accessibility.toggle_navigation' | t }}" aria-controls="menuDrawer" class="btn btn-large btn-icon btn-plain button-toggle-nav js-menu-drawer-trigger">
            {%- render 'icon-hamburger-menu', class: 'icon-hamburger' -%}
          </button>
        </sht-menu-drwer-opner>
        {% render 'header-logo', class: '' %}
      </div>
      {% if section.settings.enable_search_full %}
        <div class="header-search-fullbox-mobile {% if settings.predictive_search_show_search_filter %} header-search-fullbox-mobile-with-filter {% endif %}d-none p-relative field__text">
          <a class="btn-search js-search-open-trigger d-flex between-xs w-100 middle-xs"  href="{{ routes.search_url }}" data-js-file-id="component-predictive-search-js-file" data-js-file="{{ 'component-predictive-search.js' | asset_url }}" onclick="event.preventDefault();" aria-label="{{ 'accessibility.search' | t }}" role="button" aria-haspopup="dialog">
            {% render 'icon-filter', size: '16', class: 'd-none icon-search-filter' %}
            <span class="d-flex w-100 between-xs">
              {{ 'general.search.input_placeholder' | t }}
              {{ icon_search }}
            </span>
          </a>
        </div>
      {% endif %}
      {% comment %} {%- render 'predictive-search', class: 'header__search top-0 left-0 zi-9', form_search_style: form_search_style -%} {% endcomment %}
      <!-- header Navigation -->
      <div class="header__menu d-none center-cs {% if section.settings.enable_drawer == false %} d-flex-lg fd-column {% endif %} js-menu-drawer-content">
        <nav class="header__nav js-header-navigation flex-1 w-100">
          <ul class="main__menu d-flex fw-wrap m-zero ls-none" style="justify-content: center;">
            {% for link in section.settings.menu.links %}
              {% assign mega_menu = false %}
              {% for block in section.blocks %}
                {% liquid
                  assign mega_menu_name = block.settings.menu_item_name | downcase | strip
                  assign link_anchor_name = link.title | downcase | strip
                  if mega_menu_name == link_anchor_name
                    assign mega_menu = true
                    assign promo_block = block
                  endif
                %}
              {% endfor %}
            <li class="menu__item {{ mega_menu | default: '' | replace: 'true', 'menu__item-megamenu' }} p-relative">
              {%- if link.links.size > 0 -%}
                <sht-menu-header class="d-block">
                  <details data-level="1">
                    <summary class="menu__link menu__link-lv1 h5 m-zero d-flex between-xs middle-xs" aria-expanded="false" aria-controls="menuHeaderMenuList-{{ forloop.index }}">
                      <span class="d-block link__title">{{ link.title }}</span>
                      {{ icon_chevron_down }}
                    </summary>
                    <!-- Megamenu -->
                    {%- if mega_menu -%}
                      <div class="menu-dropdown menu-dropdown-lv2 {{ popup_scheme }} mega-menu-wrapper disable-scrollbars w-100">
                        <button class="js-menu-header-back-btn menu-drawer__close w-100 d-none middle-xs ta-left h5 m-zero c-pointer" type="button" data-level="1">
                          {{ icon_chevron_left }}
                          {{ link.title }}
                        </button>
                        <div class="d-grid mega-menu {% if promo_block.settings.primary_image != blank or promo_block.settings.secondary_image != blank %} mega-menu__has-promo {% endif %}">
                          <ul class="mega-menu__submenu m-zero w-100 ls-none d-flex fd-column p-zero"
                            id="menuHeaderMenuList-{{ forloop.index }}">
                            {%- for childlink in link.links -%}
                            <li class="menu__item p-relative">
                              {%- if childlink.links != blank -%}
                                <div class="menu__grandchild d-none">
                                  <a href="{{ childlink.url }}" class="menu__link menu__link-lv2 m-zero h5 d-block m-zero">
                                    {{ childlink.title }}
                                  </a>
                                  <ul class="mega-menu__grandchild menu-dropdown__grandchild ls-none m-zero p-zero" role="menu">
                                    {%- capture grand_child_menu -%}
                                      {%- for grandchildlink in childlink.links -%}
                                        <li class="menu__item {{ grandchildlink.current | default: '' | replace: 'true', 'menu__item--current' }}">
                                          <a href="{{ grandchildlink.url }}" class="menu__link d-block {{ grandchildlink.current | default: '' | replace: 'true', 'menu__link--active' }}" role="menuitem">
                                            {{ grandchildlink.title }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    {%- endcapture -%}
                                    {{ grand_child_menu }}
                                  </ul>
                                </div>
                                <details data-level="2">
                                  <summary class="menu__link between-xs d-flex middle-xs h5 m-zero">
                                    <span class="d-block link__title">{{ childlink.title }}</span>
                                    {{ icon_chevron_down }}
                                  </summary>
                                  <ul class="mega-menu__grandchild menu-dropdown__grandchild m-zero p-zero d-flex fd-column ls-none" role="menu">
                                    {{ grand_child_menu }}
                                  </ul>
                                </details>
                              {%- else -%}
                                <a href="{{ childlink.url }}" class="menu__link menu__link-lv2 m-zero h5 m-zero d-block">
                                  {{ childlink.title }}
                                </a>
                              {%- endif -%}
                            </li>
                            {%- endfor -%}
                          </ul>
                          <div class="mega-menu-promotions d-grid w-100 hide-empty">
                            {%- if promo_block.settings.primary_image -%}
                              <div class="card__promotion card--content-inner p-relative sht-mask" style="--overlay: {{ promo_block.settings.image_overlay_first }}">
                                <div class="card__media">
                                  <a href="{{ promo_block.settings.primary_link | default: '#' }}" class="p-absolute top-0 left-0 w-100 h-100 zi-2 hide-no-link" aria-label="{{ promo_block.settings.primary_heading }}"></a>
                                  {%- liquid
                                    assign primary_image_alt = promo_block.settings.primary_image.image.alt | default: promo_block.settings.primary_image.image | split: '/' | last
                                    assign primary_image_media = promo_block.settings.primary_image | image_url: width: 400 | image_tag: alt: primary_image_alt, class: 'h-100 w-100 of-cover media js-image-lazy w-100', image_classes: 'w-100 h-100'
                                    render 'image', image_item: primary_image_media, ratio: '3/2', image_wrap_classes: 'h-100 w-100', image_classes: 'w-100 h-100'
                                  -%}
                                </div>
                                <div
                                  class="card__content wb-break-word p-absolute bottom-0 w-100 zi-1 {{ promo_block.settings.primary_heading | default: 'd-none' | replace: promo_block.settings.primary_heading, '' }}">
                                  <span class="card__title h5">
                                    {{- promo_block.settings.primary_heading -}}
                                  </span>
                                </div>
                              </div>
                            {%- endif -%}
                            {%- if promo_block.settings.secondary_image -%}
                            <div class="card__promotion card--content-inner p-relative sht-mask" style="--overlay: {{ promo_block.settings.image_overlay_second }}">
                              <div class="card__media">
                                <a href="{{ promo_block.settings.secondary_link | default: '#' }}" class="p-absolute top-0 left-0 w-100 h-100 zi-2 hide-no-link" aria-label="{{ promo_block.settings.secondary_heading }}"></a>
                                {%- liquid
                                  assign secondary_image_media_alt = promo_block.settings.secondary_image.image.alt | default: promo_block.settings.secondary_image.image | split: '/' | last
                                  assign secondary_image_media = promo_block.settings.secondary_image | image_url: width: 400 | image_tag: alt: secondary_image_media_alt, class: 'h-100 w-100 of-cover media js-image-lazy '
                                  render 'image', image_item: secondary_image_media, ratio: '3/2', image_wrap_classes: 'h-100 w-100', image_classes: 'w-100 h-100'
                                -%}
                              </div>
                              <div
                                class="card__content wb-break-word p-absolute bottom-0 w-100 zi-1 {{ promo_block.settings.secondary_heading | default: 'd-none' | replace: promo_block.settings.secondary_heading, '' }}">
                                <span class="card__title h5">
                                  {{- promo_block.settings.secondary_heading -}}
                                </span>
                              </div>
                            </div>
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <div class="menu-dropdown menu-dropdown-lv2 {{ popup_scheme }}">
                      <button class="js-menu-header-back-btn menu-drawer__close w-100 d-none middle-xs ta-left h5 m-zero c-pointer" type="button" data-level="1">
                        {{ icon_chevron_left }}
                        {{ link.title }}
                      </button>
                      <ul class="submenu-dropdown m-zero p-zero ls-none d-flex fd-column" id="menuHeaderMenuList-{{ forloop.index }}">
                        {%- for childlink in link.links -%}
                          <li class="submenu__item p-relative" style="--delay: {{ forloop.index | plus: 1 | times: 0.05 }}s;">
                            {%- if childlink.links != blank -%}
                              <details data-level="2">
                                <summary class="menu__link menu__link-lv2 m-zero h5 between-xs d-flex middle-xs" aria-expanded="false" aria-controls="menuHeaderSubMenuList-{{ forloop.index }}">
                                  <span class="d-block link__title">
                                    {{ childlink.title }}
                                  </span>
                                  {{ icon_chevron_down }}
                                </summary>
                                <ul class="menu-dropdown__grandchild m-zero p-zero ls-none d-flex fd-column">
                                  {%- for grandchildlink in childlink.links -%}
                                  <li class="submenu__item {{ grandchildlink.current | default: '' | replace: 'true', 'menu__item--current' }}">
                                    <a href="{{ grandchildlink.url }}" class="menu__link d-block {{ grandchildlink.current | default: '' | replace: 'true', 'menu__link--active' }}">
                                      <span class="d-block link__title">{{ grandchildlink.title }}</span>
                                    </a>
                                  </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- else -%}
                              <a href="{{ childlink.url }}" class="menu__link menu__link-lv2 m-zero h5 d-block {{ childlink.current | default: '' | replace: 'true', 'menu__link--active' }}">
                                <span class="d-block link__title">{{ childlink.title }}</span>
                              </a>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                      </div>
                    <!-- endif megamenu -->
                    {%- endif -%}
                  </details>
                </sht-menu-header>
              {%- else -%}
                <a href="{{ link.url }}" class="menu__link menu__link-lv1 h5 m-zero d-block {{ link.current | default: '' | replace: 'true', 'menu__link--active' }}">
                  <span class="d-block link__title">{{ link.title }}</span>
                </a>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
      <!-- end Header Navigation -->
      <!-- Header Icons Right -->
      <div class="header__icons d-flex end-xs middle-xs">
        {{ header_search }}
        {{ user_account }}
        <div class="header__localization d-none d-flex-md">
          {{ header_currency }}
        </div>
        <div class="header__icon header__icon--cart">
          {%- liquid
            capture header_cart_status
              render 'header-cart-status', cart: cart
            endcapture
          -%}
          <a role="button" href="{{ routes.cart_url }}" onclick="event.preventDefault();try { window.shtCartDrawer.openDrawer(this); } catch(err) { window.location.assign('{{ routes.cart_url }}');}" aria-haspopup="true" aria-expanded="false" aria-controls="shtCartDrawer" class="header-cart-status js-header-cart-status-btn btn btn-plain btn-large btn-icon p-relative" id="headerCartStatus">
            {{ header_cart_status }}
            </a>
        </div>
      </div>
      <!-- end Header Icons Right -->
    </header>
  </sht-header>
</sht-sticky-header>
<!-- Menu Drawer -->
<sht-menu-drwer aria-hidden="true" id="menuDrawer" class="sht-drawer js-menu-drawer drawer--left no-focus-visible" hidden tabindex="-1">
  <div class="drawer__overlay js-menu-drawer-overlay js-drawer-overlay p-fixed top-0 left-0 right-0 bottom-0 w-100 h-100v"></div>
  <div class="drawer__wrapper js-menu-drawer-wrapper js-drawer-wrapper corner-radius-lg {{ popup_scheme }}">
    <div class="drawer__header d-flex middle-xs between-xs p-sticky top-0 zi-2">
      <h2 class="drawer__heading h4 m-zero">{{ 'sections.header.drawer.title' | t }}</h2>
      <button class="drawer__btn-close js-menu-drawer-btn-close js-drawer-btn-close btn btn-plain btn-large btn-icon" type="button" aria-label="{{ 'accessibility.close' | t }}">
        {%- render 'icon-close' -%}
      </button>
    </div>
    <div class="drawer__body js-menu-drawer-body-container flex-1">
      <div class="drawer__body__container">
        <div class="menu-drawer js-menu-drawer-body"></div>
        <div class="header-extra-info hide-empty p-relative">
          {%- liquid
            if section.settings.enable_contact
              render 'contact', header_style: 'd-none-important', contact_class: 'd-grid r-gap-16', contact_style: '', classes: 'header__contact d-flex pt-24 pb-24 mb-24'
            endif
            if section.settings.enable_quick_links
              render 'quick-links', class: 'header__quick-links fw-wrap', link_class: 'btn btn-link btn-small mr-16'
            endif
          -%}
          {{ user_account_drawer }}
          <div class="header__localization d-none-md d-flex">
            {{ header_currency }}
          </div>
        </div>
      </div>
    </div>
  </div>
</sht-menu-drwer>

<!-- Menu Drawer -->

<script type="application/ld+json">
  {"@context": "http://schema.org","@type": "Organization","name": {{- shop.name | json -}},{%- if section.settings.logo -%}"logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},{%- endif -%}"sameAs": [{{ settings.social_twitter_link | json }},{{ settings.social_facebook_link | json }},{{ settings.social_pinterest_link | json }},{{ settings.social_instagram_link | json }},{{ settings.social_tiktok_link | json }},{{ settings.social_tumblr_link | json }},{{ settings.social_snapchat_link | json }},{{ settings.social_youtube_link | json }},{{ settings.social_vimeo_link | json }}],"url": {{ request.origin | append: page.url | json }}}
</script>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"},
        "url": {{ request.origin | append: page.url | json }}
      }
  </script>
{%- endif -%}
{%- schema -%}
{
  "name": "t:sections.header.name",
  "class": "js-section-header header-wrapper p-relative zi-4",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "checkbox",
      "id": "enable_drawer",
      "label": "t:sections.header.settings.enable_drawer.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "t:sections.header.settings.enable_sticky.label",
      "info": "t:sections.header.settings.enable_sticky.info",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "color-scheme-1",
      "options": [
        {
          "value": "color-scheme-1",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "color-scheme-2",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:general.settings.image.label",
      "info": "t:general.settings.logo_image.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:general.settings.logo_width_desktop.label",
      "min": 40,
      "max": 200,
      "step": 10,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:general.settings.logo_width_mobile.label",
      "min": 40,
      "max": 140,
      "step": 10,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.headers.header_navigation.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:general.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_currency_selector.content",
      "info": "t:general.settings.headers.header_currency_selector.info"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:general.settings.show_currency_selector.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.headers.search.content"
    },
    {
      "type": "checkbox",
      "id": "enable_search_full",
      "label": "t:sections.header.settings.enable_search.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.quick_link.label",
      "info": "t:sections.header.settings.enable_quick_link.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_links",
      "label": "t:sections.header.settings.enable_quick_link.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.contact_info.label",
      "info": "t:sections.header.settings.contact_info.info"
    },
    {
      "type": "checkbox",
      "id": "enable_contact",
      "label": "t:sections.header.settings.enable_contact.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "t:sections.header.blocks.mega_menu.name",
      "type": "mega_menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_item_name",
          "label": "t:sections.header.blocks.mega_menu.settings.menu_item_name.label",
          "info": "t:sections.header.blocks.mega_menu.settings.menu_item_name.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.headers.promotional_content_1.content"
        },
        {
          "type": "range",
          "unit": "%",
          "max": 90,
          "min": 0,
          "step": 1,
          "default": 30,
          "id": "image_overlay_first",
          "label": "t:general.settings.overlay_opacity.label"
        },
        {
          "type": "image_picker",
          "id": "primary_image",
          "label": "t:general.settings.image.label",
          "info": "t:sections.header.blocks.mega_menu.settings.image.info"
        },
        {
          "type": "text",
          "id": "primary_heading",
          "label": "t:general.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "primary_link",
          "label": "t:general.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mega_menu.settings.headers.promotional_content_2.content"
        },
        {
          "type": "range",
          "unit": "%",
          "max": 90,
          "min": 0,
          "step": 1,
          "default": 30,
          "id": "image_overlay_second",
          "label": "t:general.settings.overlay_opacity.label"
        },
        {
          "type": "image_picker",
          "id": "secondary_image",
          "label": "t:general.settings.image.label",
          "info": "t:sections.header.blocks.mega_menu.settings.image.info"
        },
        {
          "type": "text",
          "id": "secondary_heading",
          "label": "t:general.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "url",
          "id": "secondary_link",
          "label": "t:general.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
