<div class="ctnr" data-ui-component="Image With Text Columns Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="m-auto js-animate {{ section.settings.content_alignment }}" style="--w-xs:12;--w-md:10;">
    {% render 'section-header',
      content_align: section.settings.content_alignment,
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      section: section
    %}
    <div class="s-content">
      <sht-carousel class="p-relative d-block" data-enable="{{ section.settings.enable_carousel }}">
        <div aria-atomic="true" class="o-hidden rw gap-unequal  {{ section.settings.show_progress_indicator | replace: 'true', 'progress-indicator' }} {% if section.settings.enable_carousel and  section.settings.show_progress_indicator %} progress-indicator-fw {% endif %} {{ section.settings.enable_carousel | default: '' | replace: 'true', 'fw-nowrap carousel ox-auto p-relative scrollable scrollable-x disable-scrollbars js-carousel-items m-zero' }}">
          {% for block in section.blocks %}
            {%- liquid
                assign media = 'image' | placeholder_svg_tag: 'placeholder media w-100'
                assign media_alt = block.settings.image.alt | default: block.settings.image.image | split: '/' | last
                assign media = block.settings.image | image_url: width: block.settings.image.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: media_alt, class: ' media of-cover w-100'
              -%}
            <sht-carousel-itm class="clm anm anm-fadeInUpLarge {{ section.settings.enable_carousel | default: '' | replace: 'true', 'carousel__item js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero' }}" style="--w-xs:12;--w-sm:6;--w-md:4; --w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" data-item-index="{{ forloop.index }}" {{ block.shopify_attributes }}>
              {% render 'image',
                image_item: media,
                ratio: section.settings.image_ratio,
                image_wrap_classes: 'corner-radius-lg w-100'
              %}
              <div class="card__content card__content--outer wb-break-word w-100">
                <h3 class="h5 hide-empty mb-0">{{- block.settings.heading | escape -}}</h3>
                <div class="hide-empty mt-8 text-block">{{- block.settings.description -}}</div>
              </div>
            </sht-carousel-itm>
          {% endfor %}
        </div>
        <div class="carousel-pagination carousel-pagination--position carousel-pagination--position w-100 p-absolute no-js-hidden d-none {{ section.settings.enable_carousel | replace: 'true', 'd-block-md' }}">
          <div class="p-absolute zi-1 left-0">
            <button type="button" data-step="1" class="js-carousel-prev-btn btn btn-secondary btn-icon icon btn-large " aria-label="{{ 'accessibility.previous_slide' | t }}" name="previous" disabled>{% render 'icon-arrow-left' %}</button>
          </div>
          <div class="p-absolute zi-1 right-0">
            <button type="button" data-step="1" class="js-carousel-next-btn btn btn-secondary btn-icon icon btn-large" aria-label="{{ 'accessibility.next_slide' | t }}" name="next" disabled>{% render 'icon-arrow-right' %}</button>
          </div>
        </div>
      </sht-carousel>
    </div>
    <div class="s-footer anm anm-fadeInUpLarge {{ section.settings.text | default: 'd-none' | replace: section.settings.text, '' }}" style="--duration: .7s; --delay: .15s">
      <a class="btn btn-primary btn-large hide-empty" href="{{- section.settings.link | default: '#' -}}">
        {{- section.settings.text -}}
      </a>
      </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.image_with_text_columns.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Image with text columns"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_image.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:general.settings.image_ratio.label",
      "default": "3/4",
      "options": [
        {
          "value": "1/1",
          "label": "t:general.settings.image_ratio.options.option_square.label"
        },
        {
          "value": "3/4",
          "label": "t:sections.image_with_text.settings.options.option_portrait.label"
        },
        {
          "value": "4/3",
          "label": "t:sections.image_with_text.settings.options.option_landscape.label"
        },
        {
          "value": "auto",
          "label": "t:general.settings.image_ratio.options.option_adapt.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:general.settings.enable_carousel.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_indicator",
      "label": "t:general.settings.show_progress_indicator.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_button.content"
    },
    {
      "type": "text",
      "label": "t:general.settings.label.label",
      "info": "t:general.settings.button_label.info",
      "id": "text",
      "default": "Button Label"
    },
    {
      "type": "url",
      "label": "t:general.settings.link.label",
      "id": "link"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.image_with_text_columns.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:general.settings.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Share information about your products, policies or services.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text_columns.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}