{%- liquid
  assign size_placeholder = '--size: 120px' | replace: '12', section.settings.items_per_row_mobile | replace: '6', '8'
  assign placeholder = 'image' | placeholder_svg_tag: 'placeholder media w-100 h-100 of-cover'
-%}
<div class="ctnr" data-ui-component="Logo List Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="m-auto" style="--w-xs:12;--w-md:10;">
    {% render 'section-header',
      content_align: section.settings.content_alignment,
      subheading: section.settings.subheading,
      heading: section.settings.heading,
      description: section.settings.description,
      section: section
    %}
    <div class="s-content logo-list {{ section.settings.accent_scheme }}">
      <div class="rw gap-equal middle-xs ta-center js-animate {{ section.settings.content_alignment | replace: 'ta-center', 'center-xs' | replace: 'ta-left' , '' }}">
        {% for block in section.blocks %}
          {%- liquid
            assign media = placeholder
            assign media_alt  = block.settings.logo.alt | default: block.settings.logo.image | split: '/' | last
            assign media = block.settings.logo | image_url: width: block.settings.logo.width | image_tag: widths: '320', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: media_alt, class: 'of-contain media w-100 h-100'
            assign ratio = 'auto'
            if block.settings.logo == blank
              assign ratio = 1
            endif
          -%}
          <div {{ block.shopify_attributes }} class="clm anm anm-fadeInUpLarge" style="--w-xs:{{ section.settings.items_per_row_mobile }};--w-sm: 4;--w-md: 3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s;">
            <div class="p-relative d-inline-block" style="{{ size_placeholder }}">
              <a target="_blank" href="{{ block.settings.logo_link | default: '#' }}" class="d-block p-absolute w-100 h-100 zi-1 hide-no-link" aria-label="{{ media_alt }}"></a>
                {% render 'image',
                  ratio: ratio,
                  image_item: media,
                  image_wrap_classes: 'w-100',
                  image_classes: 'm-auto'
                %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.logo_list.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "label": "t:general.settings.section_subheading.label",
      "id": "subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Logo list"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "items_per_row_mobile",
      "options": [
        {
          "value": "12",
          "label": "1"
        },
        {
          "value": "6",
          "label": "2"
        }
      ],
      "label": "t:general.settings.items_per_row_on_mobile.label",
      "default": "6"
    }
  ],
  "blocks": [
    {
      "name": "Logo",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "label": "t:general.settings.logo_image.label",
          "id": "logo",
          "info": "t:sections.logo_list.blocks.logo.settings.image.info"
        },
        {
          "type": "url",
          "label": "t:general.settings.link.label",
          "id": "logo_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo_list.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}