{%- liquid
  layout none
  assign variant_label = 'color,colour,couleur,colore,boja,farbe,색,色,warna,dath,боја,lliw,liw,колір,värvi,värv,գույն,krāsa,màu sắc,màu,cor,cцвят,färg,farve,ngjyrë,kleur,väri,farge,renk,culoare,szín,цвет,kolor,barva,χρώμα,litur,spalva,farba' | split: ','
  assign place_holder = 'product-1' | placeholder_svg_tag: 'placeholder w-100 h-100'
  assign product_form_id = 'productQuickViewForm-' | append: section.id
  assign thumb_index = 0
  assign first_3d_model = product.media | where: 'media_type', 'model' | first
-%}
{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- endif -%}
<div class="product__quickview h-100 d-flex fd-column" data-ui-component="Product Quick View Section">
  <div class="product__info d-grid pb-12" style="--gtc-equal: 12;">
    <div class="product__media" style="--gc-xs: span 12; --gc-sm: span 6;">
      <sht-prd-qck-vw-media-gallery class="product__media">
        <ul class="progress-indicator-fw js-carousel-items ls-none d-flex p-zero m-zero p-relative fw-nowrap scrollable scrollable-x scrl-bhvr-auto o-auto pb-16">
          {% if product.selected_or_first_available_variant.featured_media != null %}
            {%- liquid
              assign featured_media = product.selected_or_first_available_variant.featured_media | image_url: width: product.selected_or_first_available_variant.featured_media.featured_image.width | image_tag: widths: '750, 950', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: product.selected_or_first_available_variant.featured_media.title, class: 'media of-contain w-100'
              assign thumb_index = thumb_index | plus: 1
            %}
            <li class="js-product-quick-view-media-item w-100 p-relative scrollable-aln-start d-flex aln-itm-ctr fg-1 fs-0 pl-20 pr-20 p-zero-sm" data-product-quick-view-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.featured_media.id }}" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ thumb_index }} {{ 'accessibility.of' | t }} {{ product.media.size }}" style="--ratio: 1">
                {{ featured_media }}
            </li>
          {% endif %}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              {%- liquid
                assign variant_img = place_holder
                assign variant_img = media | image_url: width: media.width | image_tag: widths: '750, 950', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: media.title, class: 'media of-contain w-100'
                assign thumb_index = thumb_index | plus: 1
              -%}
              <li class="js-product-quick-view-media-item w-100 p-relative scrollable-aln-start d-flex aln-itm-ctr fg-1 fs-0 pl-20 pr-20 p-zero-sm" data-product-quick-view-media-id="{{ section.id }}-{{ media.id }}" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ thumb_index }} {{ 'accessibility.of' | t }} {{ product.media.size }}" style="--ratio: 1">
              {%- case media.media_type -%}
                {%- when 'image' -%}
                  {{ variant_img }}
                {%- when 'external_video' -%}
                  {%- liquid
                    assign external_class = 'w-100 media-wrapper js-media-item-' | append: media.host
                  -%}
                  <sht-prd-media-itm-deferred-video class="js-product-quick-view-media-deferred-video media-type--video w-100 h-100 d-flex middle-xs center-xs">
                    <div class="js-product-media-item-deferred-video-image w-100 h-100 p-relative">
                      <button class="p-absolute p-zero b-zero br-50p center-middle zi-1" aria-label="{{ 'accessibility.play_video' | t }}">
                        <span class="d-flex center-xs middle-xs btn-primary btn-large btn-icon br-50p c-pointer">
                          {% render 'icon-play', size: 20 %}
                        </span>
                      </button>
                      {{ variant_img }}
                    </div>
                    <template>
                      {{- media | external_video_url: autoplay: true, playlist: media.external_id | external_video_tag: class: external_class -}}
                    </template>
                  </sht-prd-media-itm-deferred-video>
                {%- when 'video' -%}
                  {%- liquid
                    assign internal_class = 'w-100 js-media-item-video media-wrapper background-video'
                  -%}
                  <sht-prd-media-itm-deferred-video class="js-product-quick-view--media-deferred-video media-type--video w-100 h-100 d-flex middle-xs center-xs">
                    <div class="js-product-media-item-deferred-video-image w-100 h-100 p-relative">
                      <button class="p-absolute p-zero b-zero br-50p center-middle" aria-label="{{ 'accessibility.play_video' | t }}">
                        <span class="d-flex center-xs middle-xs btn-primary btn-large btn-icon br-50p c-pointer">
                          {% render 'icon-play', size: 20 %}
                        </span>
                      </button>
                      {{ variant_img }}
                    </div>
                    <template>
                      {{- media | video_tag: autoplay: true, controls: true, muted: false, preload: 'none', class: internal_class -}}
                    </template>
                  </sht-prd-media-itm-deferred-video>
                {%- when 'model' -%}
                  <sht-prd-media-itm-model class="js-product-quick-view-media-deferred-model w-100 h-100 d-flex middle-xs center-xs">
                    <div class="js-product-media-item-model-image w-100 h-100 d-flex center-xs middle-xs">
                      <button class="p-absolute p-zero b-zero br-50p zi-1 center-middle" aria-label="{{ 'accessibility.play_3d_viewer' | t }}">
                        <span class="d-flex center-xs middle-xs btn-primary btn-large btn-icon br-50p c-pointer">
                          {% render 'icon-3d-model', size: 20 %}
                        </span>
                      </button>
                      {{ variant_img }}
                    </div>
                    <template>
                      {%- liquid
                        echo media | media_tag: image_size: '1024x', toggleable: true
                      -%}
                    </template>
                  </sht-prd-media-itm-model>
                  <div class="product__xr-btn middle-x p-absolute zi-1">
                  <button
                    class="btn btn-large btn-secondary no-js-hidden"
                    type="button"
                    aria-label="{{ 'products.product.xr_button_label' | t }}"
                    data-shopify-xr
                    data-shopify-model3d-id="{{ media.id }}"
                    data-shopify-title="title"
                    data-shopify-xr-hidden
                    >
                    {% render 'icon-3d-model', size: 20, class: 'mr-8' %}
                    {{ 'products.product.xr_button' | t }}
                  </button>
                  </div>
                {%- endcase -%}
              </li>
            {%- endunless -%}
          {%- endfor -%}
          {% if product.selected_or_first_available_variant.featured_media == null and product.media.size <= 0 %}
            <li class="d-block js-product-quick-view-media-item w-100 pl-20 pr-20 p-zero-sm" data-product-quick-view-media-id="{{ section.id }}-{{ product.featured_image.id }}" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} 1 {{ 'accessibility.of' | t }} 1" style="--ratio: 1">
              {{ place_holder }}
            </li>
          {% endif %}
        </ul>
      </sht-prd-qck-vw-media-gallery>
    </div>
    <div class="product__details" style="--gc-xs: span 12; --gc-sm: span 6;">
      <div class="d-grid gap-12">
        {% if settings.quick_buy_show_product_vendor %}
          <span class="product__vendor subtext color-light wb-break-word">{{ product.vendor }}</span>
        {% endif %}
        <div class="product__title h5 m-zero">
          {{ product.title | escape }}
        </div>
        <span class="color-light d-none" id="productQuickViewSelectedVariant-{{- section.id -}}"></span>
        <div class="d-flex fw-wrap gap-8 mb-8" id="productQuickViewPrice-{{- section.id -}}" role="status">
          {%- render 'product-price', product: product, target: product.selected_or_first_available_variant, price_class: 'price--large' -%}
          {% if settings.quick_buy_show_sale_badge %}
            {% liquid
              if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
                assign on_sale = true
                assign discount_cost = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price
                assign discount_percent = discount_cost | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | round: 2
              endif
            -%}
            {% if on_sale %}
            <div class="product__badge">
              <span class="badge badge--sale subtext d-inline-block p-relative fw-700">
                <span class="p-relative zi-1 tt-up">
                  {{- 'products.product.on_sale' | t }}
                    {{ discount_percent }}%
                  <span class="d-none-important">
                  {% if settings.currency_code_enabled %}
                    {{- discount_cost | money_with_currency -}}
                  {% else %}
                    {{- discount_cost | money -}}
                  {% endif %}
                    ({{ discount_percent }}%)
                  </span>
                </span>
              </span>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% if settings.show_shipping_policy %}
        <div class="d-flex gap-20 fd-row-sm fd-column fd-column-md between-sm start-xs start-md top-md top-xs middle-sm " style="--gc-xs: 1 / span 2;">
          <p class="hide-empty subtext m-zero">
            {%- if cart.taxes_included -%}
              <span>{{- 'products.product.include_taxes' | t -}} </span>
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              <span class="product__shipping-policy-info text-block">
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              </span>
            {%- endif -%}
          </p>
        </div>
      {% endif %}
      {%- unless product.has_only_default_variant -%}
        <div class="product__variants mt-16 mt-sm-32" id="productQuickViewVariantPicker-{{ section.id }}">
          <sht-prd-qck-vw-variant-radios class="product__variants--radios d-flex fd-column gap-24 mb-12 mb-md-24 no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
            {%- for option in product.options_with_values -%}
              {% assign index = forloop.index | minus: 1 %}
              <fieldset class="js-variant-radio-container form__fields product-option d-flex fw-wrap p-zero m-zero b-zero">
                <legend class="p-zero product-option__name mb-12">
                  <span class="fw-700 mr-8">{{ option.name }}</span>
                  <span class="js-variant-radio-option-name hide-empty" data-option-name="{{ option.name }}">
                    {{ product.selected_or_first_available_variant.options[index] }}
                  </span>
                </legend>
                {%- assign variant_name = option.name | downcase -%}
                {%- if variant_label contains variant_name and settings.enable_variant_swatches -%}
                  {% render 'card-product-quick-view-color-swatch', product: product, option: option, section: section, product_form_id: product_form_id, index: index %}
                {%- else -%}
                  <ul class="ls-none d-flex fw-wrap gap-8">
                    {%- for value in option.values -%}
                      <li class="form__field js-variant-option-value product-option__value {% if product.selected_or_first_available_variant.available == false and option.selected_value == value %}product-option--sold-out{% endif %}" data-value="{{ value | escape }}-{{ index }}" data-option-index="{{ index }}">
                        <input
                          type="radio"
                          class="js-variant-radio-item js-variant-item form__control input--variant js-variant-radio-option-name visually-hidden"
                          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          data-variant-value="{{ value | escape }}-{{ index }}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}
                            checked
                          {% endif %}
                        >
                        <label class="form__label product-option__label d-block" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">{{ value }}</label>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </fieldset>
            {%- endfor -%}
            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </sht-prd-qck-vw-variant-radios>
        </div>
      {%- endunless -%}
      <div class="hide-empty fw-700" id="productQuickViewInventoryTracking-{{ section.id }}">
        {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
          {%- liquid
            assign stock_status = 'product--instock color-success'
            if settings.product_information_low_stock_threshold > 0 and settings.product_information_low_stock_threshold >= product.selected_or_first_available_variant.inventory_quantity
              assign stock_status = 'product--lowstock color-warning'
            endif
          -%}
          <span class="product-inventory-tracking icon-dot-shadow {{ stock_status }} p-relative">
            {%- if settings.quick_buy_show_stock_number and settings.product_information_low_stock_threshold -%}
              {{ 'products.product.in_stock_html' | t: stock: product.selected_or_first_available_variant.inventory_quantity }}
            {%- else -%}
              {{ 'products.product.in_stock' | t }}
            {%- endif -%}
          </span>
        {%- else -%}
          {%- if product.selected_or_first_available_variant.inventory_policy != 'continue' and product.selected_or_first_available_variant.inventory_management != blank -%}
            <span class="product-inventory-tracking icon-dot-shadow product--outstock p-relative color-error">{{ 'products.product.out_of_stock' | t }}</span>
          {% else %}
            <span class="product-inventory-tracking icon-dot-shadow product--instock color-success p-relative">
              {{ 'products.product.in_stock' | t }}
            </span>
          {%- endif -%}
        {%- endif -%}
      </div>
      <a href="{{ product.url }}" class="btn btn-link mt-32">{{ 'products.product.view_details' | t }}</a>
    </div>
  </div>
  <div class="product__purchase p-zero p-sticky zi-1 bottom-0 d-flex fd-row-sm fd-column gap-12 mt-24">
    <div class="product__quantity {% unless settings.quick_buy_show_product_quantity %} d-none {% endunless %}" id="productQuickViewQuantity-{{ section.id }}">
      <label class="field__label d-none" for="productQuickViewQuantityInput-{{ section.id }}">{{ 'products.product.quantity.label' | t }}:</label>
      <sht-qty-inp class="field_quantity d-inline-flex middle-xs center-xs">
        <button class="no-js-hidden js-quantity-btn js-quantity-btn-minus btn btn-icon btn-large btn-plain" aria-label="{{ 'accessibility.minus' | t }}" name="minus" data-name="minus" type="button">
          {%- render 'icon-minus', size: 20 -%}
        </button>
        <input
          class="js-quantity-input qty-element input-number btn-plain b-zero ta-center"
          type="number"
          name="quantity"
          aria-label="{{ 'products.product.quantity.input_label' | t: product: product.title | escape }}"
          id="productQuickViewQuantityInput-{{ section.id }}"
          min="1"
          {%- if product.selected_or_first_available_variant.inventory_quantity > 1 and product.selected_or_first_available_variant.inventory_policy != 'continue' and product.selected_or_first_available_variant.inventory_management != blank -%}
            max="{{- product.selected_or_first_available_variant.inventory_quantity -}}"
          {%- endif -%}
          value="1"
          form="{{ product_form_id }}"
        >
        <button class="no-js-hidden js-quantity-btn js-quantity-btn-plus btn btn-icon btn-large btn-plain" aria-label="{{ 'accessibility.plus' | t }}" name="plus" data-name="plus" type="button">
          {%- render 'icon-plus', size: 20 -%}
        </button>
      </sht-qty-inp>
    </div>
    <sht-prd-qck-vw-frm class="product__form flex-1">
      {%- form 'product', product, id: product_form_id, class: 'form form__fields', novalidate: 'novalidate' -%}
        <div class="form__field">
          <input type="hidden" class="form__control" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
        </div>
        <div class="d-flex fd-column">
          <div class="js-product-form-error-wrapper" data-type="error-wrapper" role="alert" hidden>
            <span class="d-flex middle-xs mb-12">
              <span class="icon--error icon icon--small mr-8 fs-0">
                {%- render 'icon-error', size: 16 -%}
              </span>
              <span class="js-product-form-error-message" data-type="error-message"></span>
            </span>
          </div>
          <div class="quickview-form__buttons d-flex fd-column gap-6 fd-row-sm top-sm end-sm">
            <button
              type="submit"
              name="add"
              class="js-product-form-submit-btn btn btn-large {% if settings.quick_buy_show_dynamic_checkout_buttons %} btn-secondary {% else %} btn-primary {% endif %}"
              {% if product.selected_or_first_available_variant.available == false %}
                disabled
              {% endif %}
            >
              <span class="p-relative d-flex middle-xs center-xs ta-center">
                <span class="hidden js-product-form-spinner product-form-spinner">
                  {% render 'icon-spinner' %}
                </span>
                <span class="js-product-form-submit-btn-text">
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
              </span>
            </button>
            {% if settings.quick_buy_show_dynamic_checkout_buttons %}
              <sht-prd-qck-vw-load-dyn-co-btn>
                <template>
                  {{ form | payment_button }}
                </template>
              </sht-prd-qck-vw-load-dyn-co-btn>
            {% endif %}
          </div>
        </div>
      {%- endform -%}
    </sht-prd-qck-vw-frm>

  </div>
</div>
{%- assign files = 'component-quickview.js' | split: ', ' -%}
<script>

  {%- for file in files -%}
    {%- assign id = file | replace: ".js", "-js" | strip | append: "-file" -%}
    {%- assign fileName = id | replace: "-", "_" -%}
    if (!SHTHelper.qs(`#{{ id }}`)) {
        let {{ fileName }} = document.createElement("script");
        {{ fileName }}.setAttribute('src', `{{ file | asset_url }}`);
        {{ fileName }}.setAttribute('id', '{{ id }}');
        document.body.appendChild({{ fileName }});
    }
  {%- endfor -%}
</script>

{% schema %}
{
  "name": "t:sections.main_product.name",
  "tag": "section",
  "class": "section-product-quick-view"
}
{% endschema %}
