{%- liquid
  capture logo
    render 'header-logo', class: 'm-0'
  endcapture

  assign desktop_background_image_alt  = section.settings.desktop_background_image.alt | default: section.settings.desktop_background_image.image | split: '/' | last
  assign desktop_background_image = section.settings.desktop_background_image | image_url: width: section.settings.desktop_background_image.width | image_tag: widths: '350, 750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: desktop_background_image_alt, class: 'd-none d-block-sm w-100 h-80 of-cover'

  assign mobile_background_image_alt  = section.settings.mobile_background_image.alt | default: section.settings.mobile_background_image.image | split: '/' | last
  assign mobile_background_image = section.settings.mobile_background_image | image_url: width: section.settings.mobile_background_image.width | image_tag: widths: '350', sizes: "(min-width: 361px) calc(100vw/2), calc(100vw/3)", alt: mobile_background_image_alt, class: 'd-none-sm d-block w-100 h-100 of-cover'

  if section.settings.mobile_background_image == blank
    assign desktop_background_image = desktop_background_image | replace: 'd-none d-block-sm', ''
  endif
-%}
{{ 'password.css' | asset_url | stylesheet_tag: preload: true }}
{% style %}
.logo__width {
  --logo-width-desktop: {{ section.settings.logo_width | append: 'px' }};
  --logo-width-mobile: {{ section.settings.logo_width_mobile | append: 'px' }};
}
{% endstyle %}
<div class="password-wrapper ctnr w-100 mih d-flex fd-column middle-xs between-xs o-hidden">
  <div class="password s-card corner-radius-lg p-relative w-100 zi-1 d-flex fd-column center-xs flex-1 sht-mask {{ section.settings.color_scheme }}" style="--overlay: {{ section.settings.image_overlay_opacity }}">
    {% if section.settings.mobile_background_image or section.settings.desktop_background_image %}
      <div class="p-absolute left-0 w-100 h-100">
          <div class="d-block w-100 h-100 js-animate anm anm-zoomOut">
            {%- liquid
              echo desktop_background_image | replace: "src=", 'loading="lazy" decoding="async" fetchpriority="low" src='
              if section.settings.mobile_background_image
                echo mobile_background_image | replace: "src=", 'data="mobile" loading="lazy" decoding="async" fetchpriority="low" src='
              endif
            -%}
          </div>\\\
      </div>
    {% endif %}
    <div class="password__content zi-1">
      <div class="password__logo mt-12 mb-64 logo__width of-cover">
        {{ logo }}
      </div>
      {%- if shop.password_message != blank -%}
        <div class="mt-24 mt-lg-8">
          {{ shop.password_message }}
        </div>
      {%- endif -%}
      {%- for block in section.blocks -%}
        <div class="password__info pb-32 pb-md-64" {{ block.shopify_attributes }}>
          {% render 'section-header'
            classes: 's-header pb-0',
            subheading: block.settings.subheading,
            heading: block.settings.heading,
            description: block.settings.description,
            description_extra_class: '',
            section: section
          %}
          <div class="mt-32 mt-md-48 mb-md-64 d-none js-animate anm anm-fadeInUpLarge {{ block.settings.enable_newsletter | replace: 'true', 'd-block' }}" style="--w-md: 6; --w-sm: 10; --duration: .7s; --delay: .15s;">
            {% render 'newsletter-form', form_id: 'mainPassword', form_name: 'mainPassword', button_label: block.settings.button_label %}
          </div>
          <div class="mt-48 mt-md-64 d-none js-animate anm anm-fadeInUpLarge {{ block.settings.show_contact | replace: 'true', 'd-block' }}" style="--duration: .7s; --delay: .15s;">
            {% render 'contact', header_style: 'mb-24', contact_class: 'subtext d-inline-flex middle-xs center-xs fw-wrap c-gap-24 r-gap-8' %}
          </div>
          <div class="password__socials mt-24 d-none js-animate anm anm-fadeInUpLarge {{ block.settings.show_social | replace: 'true', 'd-block' }}" style="--duration: .7s; --delay: .15s;">
            {% render 'socials', classes: 'center-xs gap-16', button_type: 'btn-secondary' %}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="password__footer subtext d-flex fd-column center-xs w-100 pt-32 pb-16 pb-md-0 between-lg middle-lg fd-row-lg">
    {%- capture shopify_link -%}
      <a class="d-flex middle-xs ml-4" href="//www.shopify.com" rel="nofollow" target="_blank" aria-describedby="a11y-new-window-message" aria-label="Shopify">
        {%- render 'icon-shopify', class: 'ml-8' %}
      </a>
    {%- endcapture -%}
    <div class="password__footer-left d-flex middle-xs center-xs mb-4">
      {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
    </div>

    <div class="password__admin-link d-flex fd-column middle-xs center-xs fd-row-lg">
      <sht-password-modal class="password__admin-login d-flex mb-4">
        <details class="password-modal">
          <summary class="modal__toggle ls-none d-flex" aria-haspopup="dialog">
            <button class="btn btn-link modal__toggle-open subtext d-flex middle-xs td-underline">
              {%- render 'icon-lock', class: 'mr-8' -%}
              {{ 'general.password_page.login_password_button' | t }}
            </button>
          </summary>
          <div class="modal__content zi-2 modal js-password-modal-content p-fixed w-100v h-100v left-0 top-0 hidden-xs opacity-0 d-flex middle-xs center-xs js-modal"
          role="dialog"
          aria-labelledby="dialogPasswordHeading"
          aria-modal="true"
          >
            <div class="password-modal__content js-password-modal-container dialog {{ settings.popup_color_scheme }}" tabindex="-1">
              <div class="modal-dialog__content__header dialog__header d-flex between-xs middle-xs">
                <h5 class="h4 ta-left m-zero" id="dialogPasswordHeading" data-type="modal-title">
                  {{ 'general.password_page.login_form_heading' | t }}
                </h5>
                <button aria-label="{{ 'accessibility.close' | t }}" type="button" class="dialog__btn btn bg-transparent js-modal-btn-close ml-12" data-dismiss="modal">
                  {%- render 'icon-close' -%}
                </button>
              </div>
              <div class="modal-dialog__body dialog__body">
                {%- form 'storefront_password', class: 'password_form mb-24', id: 'modal-password' -%}
                  {%- if form.errors -%}
                    <p class="d-flex middle-xs center-xs">
                      <span class="icon icon--small icon--error fs-0 mr-8">
                        {%- render 'icon-error', size: 16 -%}
                      </span>
                      <span class="subtext">
                        {{ form.errors.messages['form'] }}
                      </span>
                    </p>
                  {%- endif -%}
                  <div class="form__group d-flex fd-column fd-row-sm gap-16 layout-form">
                    <input id="mainPasswordInput" type="password" class="field__text field--focus field--hover w-100" name="password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      aria-label="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      autofocus
                      required
                    >
                    <label class="field__label visually-hidden" for="mainPasswordInput">{{ 'general.password_page.your_password' | t }}</label>
                    <button aria-label="{{ 'general.password_page.login_form_submit' | t }}" type="submit" name="commit" class="btn btn-primary btn-large fs-0">
                      {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                  </div>
                {%- endform -%}
                <span class="password__footer-text subtext">
                  {{ "general.password_page.admin_link_html" | t }}
                  <a href="/admin" class="btn btn-link btn-small ml-4">{{ 'general.password_page.admin_link_login' | t }}</a>
                </span>
              </div>
            </div>
          </div>
        </details>
      </sht-password-modal>
      <span class="password__admin-account">
        {{ 'general.password_page.admin_link_html' | t }}
        <a href="/admin" class="btn btn-link ml-4">{{ 'general.password_page.admin_link_login' | t }}</a>
      </span>
    </div>
  </div>
</div>
{%- liquid
  assign files = "component-password.js" | split: ', '
  render 'js-loader', files: files
-%}
<ul hidden>
  <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
</ul>
{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "range",
      "unit": "%",
      "max": 90,
      "min": 0,
      "step": 1,
      "default": 30,
      "id": "image_overlay_opacity",
      "label": "t:general.settings.overlay_opacity.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "color-scheme-1 background",
      "options": [
        {
          "value": "color-scheme-1 background",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "color-scheme-2 background",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:general.settings.image.label",
      "info": "t:general.settings.logo_image.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:general.settings.logo_width_desktop.label",
      "min": 40,
      "max": 400,
      "step": 5,
      "default": 160,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:general.settings.logo_width_mobile.label",
      "min": 40,
      "max": 300,
      "step": 5,
      "default": 100,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "desktop_background_image",
      "label": "t:general.settings.background_image.label",
      "info": "t:general.settings.image_recommend.info"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "t:general.settings.mobile_background_image.label",
      "info": "t:general.settings.image_recommend_mobile.info"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:sections.main_password.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:general.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Opening soon"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_newsletter.content",
          "info": "t:general.settings.headers.header_newsletter.info"
        },
        {
          "type": "checkbox",
          "id": "enable_newsletter",
          "label": "t:sections.footer.settings.enable_newsletter.label",
          "default": true
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.main_password.settings.submit_button_text.label",
          "default": "Notify me"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_contact_information.content",
          "info": "t:general.settings.headers.header_contact_information.info"
        },
        {
          "type": "checkbox",
          "id": "show_contact",
          "label": "t:general.settings.enable_contact.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "t:general.settings.enable_social.label",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
