{%- liquid
  assign placeholder = 'image' | placeholder_svg_tag: 'placeholder media of-cover w-100 h-100'
  assign map_media = placeholder
  assign media_alt = section.settings.image.alt | default: section.settings.image.image | split: '/' | last
  assign map_media = section.settings.image | image_url: width: section.settings.image.width | image_tag: widths: '750, 950, 1024, 1200, 1400, 1600, 1800, 2000', sizes: '(min-width: 361px) calc(100vw/2), calc(100vw/3)', alt: media_alt, class: 'js-image-lazy media of-cover w-100 h-100'
  assign map_address = section.settings.map_address
  assign map_media_width = '--w-xs:12'

-%}
<div class="ctnr" data-ui-component="Map Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="corner-radius-lg js-animate anm {{ section.settings.color_scheme }}" style="--duration: .6s">
    <div class="rw" style="--mh-md:{{ section.settings.height }}vh">
      {%- if section.blocks.size != 0 -%}
        {% assign map_media_width = '--w-xs:12;--w-md:7' %}
        {%- for block in section.blocks -%}
          <div class="clm" style="--w-xs:12;--w-md:5" {{ block.shopify_attributes }}>
            <div class="s-card s-card--right d-flex fd-column center-xs h-100">
              {% render 'section-header',
                classes: 'section-header',
                subheading: block.settings.subheading,
                heading: block.settings.heading,
                description: block.settings.description,
                description_extra_class: 's-info',
                section: section
              %}
              {%- unless map_address == blank or block.settings.button_text == blank -%}
                <div class="s-footer anm anm-fadeInUpLarge" style="--duration: .7s; --delay: .15s">
                  <a href="{{ map_address | url_encode | prepend: 'https://www.google.com/maps/place/' }}" target="_blank" class="btn btn-primary btn-large">
                    {{- block.settings.button_text | escape -}}
                  </a>
                </div>
              {%- endunless -%}
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
      <div class="clm" style="{{ map_media_width }}">
        <div class="map-media h-100 media-wrapper" style="--mh-xs:35vh; --mh-md: {{ section.settings.height }}vh;">
          {%- if section.settings.image != blank or section.settings.image == blank and map_address == blank -%}
            {% render 'image',
              ratio: '1/1',
              image_item: map_media,
              image_wrap_classes: 'w-100 h-100',
              image_classes: 'w-100 h-100 anm anm-zoomOut anm-card',
              media_style: '--duration: .7s;'
              %}
          {%- else -%}
            <sht-map data-zoom="14" data-type="roadmap" data-location="{{ map_address }}">
              <iframe defer class="js-map-iframe w-100 h-100 d-block" loading="lazy" scrolling="no" title="Google Map" src="" srcdoc="loading..."></iframe>
            </sht-map>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.map.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "id": "map_address",
      "label": "t:sections.map.settings.map_address.label",
      "info": "t:sections.map.settings.map_address.info",
      "default": "Brooklyn, NY, USA"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.map.settings.custom_map_image.label",
      "info": "t:sections.map.settings.custom_map_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "background color-scheme-1",
      "options": [
        {
          "value": "background color-scheme-1",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "background color-scheme-2",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "label": "t:general.settings.height_on_large_screen.label",
      "info": "t:general.settings.height_on_large_screen.info",
      "id": "height",
      "options": [
        {
          "value": "70",
          "label": "t:general.settings.height.options.option_70.label"
        },
        {
          "value": "100",
          "label": "t:general.settings.height.options.option_100.label"
        }
      ],
      "default": "70"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:general.settings.headers.header_content.content",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:general.settings.subheading.label",
          "default": "Location"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Map"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Write about your physical store location, opening hours,..</p>"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_button.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.map.settings.header_direction_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:general.settings.label.label",
          "default": "Get direction"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.map.name",
      "blocks": [
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
