{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}
{%- if pick_up_availabilities.size > 0 -%}
  <sht-pickup-avail-prwv class="d-flex top-xs">
      {% assign closest_location = pick_up_availabilities.first %}
      {% if closest_location.available %}
      <span class="icon d-flex center-sm middle-sm br-50p mr-20 fs-0 btn-secondary btn-small btn-icon">
        {% render 'icon-check' %}
      </span>
      {% else %}
      <span class="icon d-flex center-sm middle-sm br-50p mr-20 fs-0 btn-secondary btn-small btn-icon">
        {% render 'icon-close' %}
      </span>
      {% endif %}
    <div class="pickup__availability-info">
      {%- if closest_location.available -%}
        <p class="m-zero mb-12 h5">{{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}</p>
        <p class="m-zero mb-12 d-none pickup__availability-time">{{ closest_location.pick_up_time }}</p>
        <button id="showPickupAvailabilityDrawer" class="btn btn-plain btn-link ta-left" aria-haspopup="dialog" aria-expanded="false">
          {%- if pick_up_availabilities.size == 1 -%}
            {{ 'products.product.pickup_availability.view_store_info' | t }}
          {%- else -%}
            {{ 'products.product.pickup_availability.check_other_stores' | t }}
          {%- endif -%}
        </button>
      {%- else -%}
        <p class="m-zero mb-12 h5">{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}</p>
        {%- if pick_up_availabilities.size > 1 -%}
          <button id="showPickupAvailabilityDrawer" class="btn btn-plain btn-link ta-left" aria-haspopup="dialog">{{ 'products.product.pickup_availability.check_other_stores' | t }}</button>
        {%- endif -%}
      {%- endif -%}
    </div>
  </sht-pickup-avail-prwv>
  <sht-drwr class="sht-drawer no-focus-visible d-flex end-xs" id="drawerPickupAvailability" hidden tabindex="-1">
    <div class="drawer__overlay js-drawer-overlay p-fixed top-0 left-0 right-0 bottom-0 w-100 h-100v"></div>
    <div class="drawer__wrapper js-drawer-wrapper {{ settings.popup_color_scheme }} corner-radius-lg" role="dialog" aria-modal="true" aria-label="{{ 'products.product.pickup_availability.title' | t }}">
      <div class="drawer__header d-flex middle-xs between-xs">
        <h2 class="drawer__heading h4 m-zero js-drawer-heading">{{ product_variant.product.title | escape }}</h2>
        <button class="drawer__btn-close js-drawer-btn-close btn btn-plain btn-small btn-icon" type="button" aria-label="{{ 'accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>
      </div>
      <div class="drawer__body oy-scroll flex-1">
        <div class="drawer__content js-drawer-content">
          {%- unless product_variant.product.has_only_default_variant -%}
            <p class="pickup-availability__variants d-none">
              {%- for product_option in product_variant.product.options_with_values -%}
                {{ product_option.name | escape }}:&nbsp;
                {%- for value in product_option.values -%}
                  {%- if product_option.selected_value == value -%}
                    <span>{{ value | escape }}</span>
                  {%- endif -%}
                {%- endfor -%}
                {%- unless forloop.last -%},&nbsp;{%- endunless forloop.last -%}
              {%- endfor -%}
            </p>
          {%- endunless -%}
          <ul class="pickup-availability__list ls-none" role="list">
            {%- for availability in pick_up_availabilities -%}
              <li class="pickup-availability__item pb-32">
                <h3 class="h6 mb-12 m-zero">{{ availability.location.name | escape }}</h3>
                <p class="middle-xs mb-12 m-zero">
                  {%- if availability.available -%}
                    <span class="icon-dot-shadow icon-dot-success p-relative">
                      {{- 'products.product.pickup_availability.pick_up_available' | t -}}
                      <span class="d-none pickup__availability-time">, {{ availability.pick_up_time | downcase }}</span>
                    </span>
                  {% else %}
                    <span class="icon-dot-shadow icon-dot-error p-relative">
                    {{- 'products.product.pickup_availability.pick_up_unavailable' | t -}}
                    </span>
                  {%- endif -%}
                </p>
                {%- assign address = availability.location.address -%}
                <address class="address pickup-availability-address color-light">
                  {{ address | format_address }}
                  {%- if address.phone.size > 0 -%}
                    <p class="m-zero">{{ address.phone }}</p>
                  {%- endif -%}
                </address>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </sht-drwr>
{%- endif -%}