{% capture show_current_product_badge %}
  <div class="current__card color-accent subtext p-absolute zi-1 fw-700 tt-up">
    <span class="d-inline-block">{{ 'products.product.card.current_product' | t }}</span>
  </div>
{% endcapture %}
{%- liquid
  assign product_comparison_metafield_keys = section.settings.product_comparison_metafield_keys | downcase | remove: " " | split: ','
  assign row_revealed = section.settings.row_revealed
  assign show_view_more = false
  assign block_size = section.blocks.size
  assign product_id = 0
  if block_size > 2 or request.page_type == 'product' and section.settings.display_in_product_page and block_size > 1
    assign carousel = "d-flex fd-column carousel ox-auto scrollable scrollable-x disable-scrollbars"
    assign carousel_item = "carousel__item"
  endif
  if block_size > 1 or request.page_type == 'product' and section.settings.display_in_product_page and block_size > 0
    assign carousel_style = " --w-xs: 6"
  endif
  -%}
{% if request.page_type == 'product' and section.settings.display_in_product_page %}
  {%- liquid
    assign block_size = block_size | plus: 1
    assign product_id = product.id
    for block in section.blocks
      if block.settings.product.id == product_id
        assign block_size = block_size | minus: 1
        break
      endif
    endfor
  -%}
  {% capture current_view_details %}
    <a href="{{- product.url | within: collection | default: '#' -}}" class="btn btn-secondary btn-small btn-view-details" aria-label="{{ "products.product.view_details" | t }}">
      {{ 'products.product.view_details' | t }}
    </a>
  {% endcapture %}
  {%- liquid
    capture viewing_product
      render 'card-product', product: product, show_color_swatch: settings.show_color_swatches, ratio: settings.product_card_image_ratio, view_details: current_view_details, enable_quick_buy: settings.enable_quick_buy, image_width: '750, 950', show_current_product_badge: show_current_product_badge, section: section, secondary_card_classes: 'anm anm-fadeInUpLarge', card_style: '--duration: .7s; --delay: .15s;'
    endcapture
  -%}
{% endif %}
<div class="ctnr" data-ui-component="Product Comparison Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  {%- render 'section-header',
    content_align: section.settings.content_align,
    subheading: section.settings.subheading,
    heading: section.settings.heading,
    description: section.settings.description,
    button_main_text: section.settings.primary_button_label,
    button_main_link: section.settings.primary_button_link,
    button_sub_text: section.settings.secondary_button_label,
    button_sub_link: section.settings.secondary_button_link,
    section: section
  -%}
  <sht-product-comparison class="s-content js-animate {{ carousel }} {% if section.settings.show_progress_indicator %} progress-indicator progress-indicator-fw pb-md-0 {% endif %}">
    <div class="pcn__row {{ carousel_item }} d-grid c-gap" style="--gtc-equal-md: {{ block_size }}; {{ carousel_style }}; --block-size: {{ block_size }};">
      {{ viewing_product }}
      {%- for block in section.blocks -%}
        {% if block.settings.product.id != product_id %}
          {% capture view_details %}
            <a href="{{- block.settings.product.url | within: collection | default: '#' -}}" class="btn btn-secondary btn-small btn-view-details" aria-label="{{ "products.product.view_details" | t }}">
              {{ 'products.product.view_details' | t }}
            </a>
          {% endcapture %}
          <div class="product-comparison-item anm anm-fadeInUpLarge" style=" --duration: .7s;{% if viewing_product %}--delay: {{ forloop.index | plus: 3 | times: 0.05 -}}s; {% else %}--delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; {% endif %}">
            {% render 'card-product',
              product: block.settings.product,
              show_rating: settings.show_product_rating,
              show_vendor: settings.show_product_vendor,
              show_color_swatch: settings.show_color_swatches,
              ratio: settings.product_card_image_ratio,
              view_details: view_details,
              enable_quick_buy: settings.enable_quick_buy,
              image_width: '750, 950',
              section: section
            %}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
    {%- if product_comparison_metafield_keys.size > 0 -%}
      {%- for k in product_comparison_metafield_keys -%}
        {%- liquid
          assign dislay_cls = ''
          if forloop.index > row_revealed
            assign show_view_more = true
            assign dislay_cls = 'js-product-comparison-hidden-item d-none-important'
          endif
          -%}
        <div class="pcn__row anm anm-fadeInUpLarge {{ carousel_item }} d-grid c-gap {{ dislay_cls }}" style="--gtc-equal-md: {{ block_size }}; {{ carousel_style }}; --block-size: {{ block_size }}; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s">
          <div class="pcn__row-title pb-12 pb-md-20 pt-20 pt-md-48 wb-break-word" style="--gr-xs: 1; --gc-xs: 1/{{ block_size | plus: 1 }}">
            <span class="h5 p-sticky left-0">
              {{ k | upcase | replace: '_', ' ' }}
            </span>
          </div>
          {%- liquid
            if request.page_type == 'product' and section.settings.display_in_product_page
              render 'product-compairsion-specifications', product: product, metafield_key: k, product_specifications_style: "--gr-xs: 2;"
            endif
            for block in section.blocks
              if block.settings.product.id != product_id
                render 'product-compairsion-specifications', product: block.settings.product, metafield_key: k, product_specifications_style: "--gr-xs: 2;"
              endif
            endfor
          -%}
        </div>
      {%- endfor -%}
      {%- if show_view_more -%}
        <div class="pcn__row anm anm-fadeInUpSmall pt-20 pb-md-8 d-grid c-gap {{ carousel_item }}" style="--gtc-equal-md: {{ block_size }}; {{ carousel_style }}; --block-size: {{ block_size }}; --duration: .7s; --delay: .05s">
          <div class="product-comparison-btn" style="--gr-xs: 1; --gc-xs: 1/{{ block_size | plus: 1 }}">
            <button class="js-product-comparison-view-more-btn left-0 btn btn-large btn-secondary p-sticky" data-view-more="{{ 'sections.product_comparison.view_more' | t }}" data-view-less="{{ 'sections.product_comparison.view_less' | t }}" type="button">
              <span class="js-product-comparison-view-more-btn-label">{{ 'sections.product_comparison.view_more' | t }}</span>
              {% render 'icon-chevron-down', size: 24, class: 'icon-chevron-down ml-8' %}
            </button>
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  </sht-product-comparison>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.product_comparison.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:general.settings.section_subheading.label",
      "default": "Quick comparison"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.section_heading.label",
      "default": "Select top products"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:general.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "checkbox",
      "id": "show_progress_indicator",
      "label": "t:general.settings.show_progress_indicator.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center center-xs",
          "label": "t:general.settings.option_center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.product_comparison.settings.headers.header_table.content"
    },
    {
      "type": "text",
      "id": "product_comparison_metafield_keys",
      "label": "t:sections.product_comparison.settings.product_comparison_metafield_keys.label",
      "info": "t:sections.product_comparison.settings.product_comparison_metafield_keys.info"
    },
    {
      "type": "range",
      "id": "row_revealed",
      "label": "t:general.settings.row_revealed_by_default.label",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "display_in_product_page",
      "label": "t:sections.product_comparison.settings.display_in_product_page.label",
      "info": "t:sections.product_comparison.settings.display_in_product_page.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_buttons.content"
    },
    {
      "type": "text",
      "id": "primary_button_label",
      "label": "t:general.settings.primary_button_label.label",
      "info": "t:general.settings.button_label.info",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "t:general.settings.primary_button_link.label"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "t:general.settings.secondary_button_label.label",
      "info": "t:general.settings.button_label.info",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "t:general.settings.secondary_button_link.label"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:general.settings.headers.header_product.content",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:general.settings.product.label",
          "info": "t:general.settings.headers.header_product_specifications.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_comparison.name",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}