{%- liquid
  assign column_mobile = 12 | divided_by: section.settings.items_per_row_on_mobile

-%}
<div class="ctnr" data-ui-component="Product Recommendation Section">
  <div class="m-auto" style="--w-xs:12;--w-md:10;">
    <sht-prd-recom class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.items_to_show }}">
      {%- if recommendations.performed and recommendations.products_count > 0 -%}
        {% render 'section-header',
          content_align: section.settings.content_alignment,
          heading: section.settings.heading,
          section: section
        %}
        <div class="s-content">
          <sht-carousel class="p-relative d-block" data-enable="{{ section.settings.enable_carousel }}">
            <div aria-atomic="true" class="rw gap-unequal js-animate {{ section.settings.show_progress_indicator | replace: 'true', 'progress-indicator' }} {% if section.settings.enable_carousel and  section.settings.show_progress_indicator %} progress-indicator-fw {% endif %} {{ section.settings.enable_carousel | default: '' | replace: 'true', 'fw-nowrap carousel ox-auto p-relative scrollable scrollable-x disable-scrollbars js-carousel-items m-zero' }}">
              {% for recommendation in recommendations.products limit: section.settings.items_to_show %}
                <sht-carousel-itm class="clm anm anm-fadeInUpLarge {{ section.settings.enable_carousel | default: '' | replace: 'true', 'carousel__item js-carousel-item p-relative scrollable-aln-start d-flex fd-column middle-xs fg-1 fs-0 p-zero' }}" style="--w-xs:{{ column_mobile }};--w-sm:6;--w-md:4; --w-lg:3; --delay: {{ forloop.index | plus: 2 | times: 0.05 -}}s; --duration: .7s" role="group" aria-roledescription="Slide" aria-label="{{ 'accessibility.slide' | t }} {{ forloop.index }} {{ 'accessibility.of' | t }} {{ forloop.length }}" data-item-index="{{ forloop.index }}">
                  {% render 'card-product',
                    product: recommendation,
                    ratio: settings.product_card_image_ratio,
                    show_second_image: settings.show_second_image,
                    show_vendor: settings.show_product_vendor,
                    show_rating: settings.show_product_rating,
                    show_color_swatch: settings.show_color_swatches,
                    show_sale_badge: settings.show_sale_badge,
                    item_per_row: section.settings.item_per_row,
                    enable_quick_buy: settings.enable_quick_buy,
                    section: section
                  %}
                </sht-carousel-itm>
              {% endfor %}
            </div>
            <div class="carousel-pagination carousel-pagination--position w-100 p-absolute no-js-hidden d-none {{ section.settings.enable_carousel | replace: 'true', 'd-block-md' }}">
              <div class="p-absolute zi-1 left-0">
                <button type="button" data-step="1" class="js-carousel-prev-btn btn btn-secondary btn-icon icon btn-large " aria-label="{{ 'accessibility.previous_slide' | t }}" name="previous" disabled>{% render 'icon-arrow-left' %}</button>
              </div>
              <div class="p-absolute zi-1 right-0">
                <button type="button" data-step="1" class="js-carousel-next-btn btn btn-secondary btn-icon icon btn-large" aria-label="{{ 'accessibility.next_slide' | t }}" name="next" disabled>{% render 'icon-arrow-right' %}</button>
              </div>
            </div>
          </sht-carousel>
        </div>
      {%- endif -%}
    </sht-prd-recom>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.product_recommendation.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.product_recommendation.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:general.settings.heading.label",
      "default": "Related products"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "t:sections.product_recommendation.settings.items_to_show.label",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "items_per_row_on_mobile",
      "label": "t:general.settings.items_per_row_on_mobile.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:general.settings.enable_carousel.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_progress_indicator",
      "label": "t:general.settings.show_progress_indicator.label",
      "default": true
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:general.settings.content_alignment.label",
      "default": "ta-left",
      "options": [
        {
          "value": "ta-left",
          "label": "t:general.settings.option_left.label"
        },
        {
          "value": "ta-center",
          "label": "t:general.settings.option_center.label"
        }
      ]
    }
  ]
}
{% endschema %}
