{%- liquid
  assign content_position = 'content_position'
  if section.blocks[0].settings.content_position contains 'middle'
    assign content_position = ''
  endif
  if section.blocks[0].settings.content_position contains 'top'
    assign overlay_style = 'sht-mask--top'
  elsif section.blocks[0].settings.content_position contains 'bottom'
    assign overlay_style = 'sht-mask--bottom'
  endif

  assign video_type = section.settings.video_url.type
  if section.settings.video_hosted
    assign video_type = 'local_video'
  endif
-%}
<div class="ctnr" data-ui-component="Video Banner Section" role="region" aria-labelledby="sectionHeading-{{ section.id | md5 | truncate: 12, "" }}">
  <div class="p-relative sht-mask corner-radius-lg bs-card {{ section.settings.color_scheme }} {{ overlay_style }}" style="--mh-xs:100vh;--mh-sm:{{ section.settings.height }}vh; --overlay: {{ section.settings.image_overlay_opacity }}">
    <sht-load-video class="p-absolute w-100 h-100 js-animate anm anm-zoomOut" data-video-type="{{ video_type }}" data-video-id="{{ section.settings.video_url.id }}">
      {% if section.settings.video_hosted %}
        {% capture local_video %}
          {{- section.settings.video_hosted | video_tag: autoplay: true, controls: false, loop: true, preload: 'none', class: 'video-local w-md-100v center-middle p-absolute mih' -}}
        {% endcapture %}
        {{ local_video | replace: '<source src="', '<source data-src="' }}
      {% else %}
        <iframe tabindex="-1" title="{{ section.settings.video_url.type }}" class="video-ifram js-local-video w-100v center-middle p-absolute mih miw" allow="autoplay; encrypted-media"
          data-src="
          {%- if section.settings.video_url.type == 'youtube' -%}
            https://www.youtube.com/embed/{{ section.settings.video_url.id }}?version=3&enablejsapi=1&mute=1&loop=1&controls=0&rel=0&showinfo=0&autoplay=1&playlist={{ section.settings.video_url.id }}
          {%- elsif section.settings.video_url.type == 'vimeo' -%}
            https://player.vimeo.com/video/{{ section.settings.video_url.id }}?api=1&background=1&autoplay=1&loop=1&title=0&byline=0&portrait=0&controls=0&muted=1
          {%- endif -%}" style="--miw:177.77vh;--h-xs:56.25vw;">
        </iframe>
      {% endif %}
    </sht-load-video>
    <div class="s-card zi-1 w-100 h-100 p-relative d-flex {{ section.blocks[0].settings.content_position }} {{ content_position }}" style="--mh-xs:100vh;--mh-sm:{{ section.settings.height }}vh" {{ section.blocks[0].shopify_attributes }}>
      {% assign heading_style = section.settings.enable_large_heading | default: '' | replace: 'true', 'headline' %}
      {%- render 'section-header'
        classes: 's-card__header',
        content_align: section.blocks[0].settings.content_position,
        subheading: section.blocks[0].settings.subheading,
        heading: section.blocks[0].settings.heading,
        heading_classes: heading_style,
        description: section.blocks[0].settings.description,
        button_main_text: section.blocks[0].settings.primary_button_label,
        button_main_link: section.blocks[0].settings.primary_button_link,
        button_sub_text: section.blocks[0].settings.secondary_button_label,
        button_sub_link: section.blocks[0].settings.secondary_button_link,
        section: section
      -%}
    </div>
  </div>
  {%- render 'section-id', section: section -%}
</div>
{% schema %}
{
  "name": "t:sections.video_banner.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "range",
      "unit": "%",
      "max": 90,
      "min": 0,
      "step": 1,
      "default": 30,
      "id": "image_overlay_opacity",
      "label": "t:general.settings.overlay_opacity.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "info": "t:general.settings.color_scheme.info",
      "default": "color-scheme-1",
      "options": [
        {
          "value": "color-scheme-1",
          "label": "t:general.settings.scheme_1.label"
        },
        {
          "value": "color-scheme-2",
          "label": "t:general.settings.scheme_2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_large_heading",
      "label": "t:general.settings.enable_large_heading.label",
      "info": "t:general.settings.enable_large_heading.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "select",
      "label": "t:general.settings.height.label",
      "info": "t:general.settings.height.info",
      "id": "height",
      "options": [
        {
          "value": "70",
          "label": "t:general.settings.height.options.option_70.label"
        },
        {
          "value": "100",
          "label": "t:general.settings.height.options.option_100.label"
        }
      ],
      "default": "70"
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_video.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:general.settings.external_video.label",
      "info": "t:general.settings.video_link.info"
    },
    {
      "type": "video",
      "id": "video_hosted",
      "label": "t:general.settings.headers.header_hosted_video.content",
      "info": "t:general.settings.video_hosted.info"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:general.settings.headers.header_content.content",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "label": "t:general.settings.content_position.label",
          "id": "content_position",
          "options": [
            {
              "value": "start-xs top-xs ta-left",
              "label": "t:general.settings.content_position.options.option_top_left.label"
            },
            {
              "value": "center-xs top-xs ta-center",
              "label": "t:general.settings.content_position.options.option_top_center.label"
            },
            {
              "value": "start-xs middle-xs ta-left",
              "label": "t:general.settings.content_position.options.option_middle_left.label"
            },
            {
              "value": "center-xs middle-xs ta-center",
              "label": "t:general.settings.content_position.options.option_middle_center.label"
            },
            {
              "value": "start-xs bottom-xs ta-left",
              "label": "t:general.settings.content_position.options.option_bottom_left.label"
            },
            {
              "value": "center-xs bottom-xs ta-center",
              "label": "t:general.settings.content_position.options.option_bottom_center.label"
            }
          ],
          "default": "center-xs middle-xs ta-center"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_text.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:general.settings.subheading.label",
          "default": "Banner title"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Welcome to our store"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:general.settings.description.label",
          "default": "<p>Use this text to share brand information with your customers. Introduce a new product, announce an announcement or welcome customers.</p>"
        },
        {
          "type": "header",
          "content": "t:general.settings.headers.header_buttons.content"
        },
        {
          "type": "text",
          "id": "primary_button_label",
          "label": "t:general.settings.primary_button_label.label",
          "info": "t:general.settings.button_label.info",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "t:general.settings.primary_button_link.label"
        },
        {
          "type": "text",
          "id": "secondary_button_label",
          "label": "t:general.settings.secondary_button_label.label",
          "info": "t:general.settings.button_label.info",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "t:general.settings.secondary_button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video_banner.name",
      "blocks": [
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}